<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Capabilities-Goals</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.4.1.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Capabilities-Goals</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-4e6e25746e8d4398add06fcbc4fb5a4e.png" alt="Capabilities-Goals" usemap="#id-4e6e25746e8d4398add06fcbc4fb5a4emap"/>
			   <map name="id-4e6e25746e8d4398add06fcbc4fb5a4emap">
				  		<area shape="rect" coords="1192,2211,1469,2266" href="../elements/id-7677a772744241a89e0cca82c35fb07c.html"  target="element">
				  		<area shape="rect" coords="736,2211,1013,2266" href="../elements/id-2031d7ced34f4ea0ad0da9d91f5c52e1.html"  target="element">
				  		<area shape="rect" coords="365,2211,642,2266" href="../elements/id-48362e4151454c8a9dfae6acfb7401be.html"  target="element">
				  		<area shape="rect" coords="226,2290,346,2345" href="../elements/id-b37bf4947ec9430197f9056d283eb5b0.html"  target="element">
				  		<area shape="rect" coords="226,1977,346,2032" href="../elements/id-f9f30d3e83e24a8daa3393eebb0838eb.html"  target="element">
				  		<area shape="rect" coords="1081,1923,1450,1978" href="../elements/id-b6a234cbca8a47cb8aa6bdfcc7c6bc80.html"  target="element">
				  		<area shape="rect" coords="460,1923,829,1978" href="../elements/id-7a6dff73ad9d496f9b2df94ece5a3f70.html"  target="element">
				  		<area shape="rect" coords="202,1774,437,1829" href="../elements/id-fb45f12f12df4939927654027e6a54e1.html"  target="element">
				  		<area shape="rect" coords="1222,1707,1535,1762" href="../elements/id-3c813327c5e14e6697a0e2fb1586cd6a.html"  target="element">
				  		<area shape="rect" coords="794,1707,1107,1762" href="../elements/id-d56dcdd2deb44ad4a88e6b573ccb7f92.html"  target="element">
				  		<area shape="rect" coords="363,1707,676,1762" href="../elements/id-78ec1c7fd76943298ffdeea12f7acc4d.html"  target="element">
				  				<area shape="rect" coords="1212,696,1478,760" href="../elements/id-689e8648bcce42e695cd6512579b30a7.html"  target="element">
				  				<area shape="rect" coords="982,700,1189,761" href="../elements/id-0cf148cf09914184972be4bdaee43394.html"  target="element">
				  				<area shape="rect" coords="768,700,959,755" href="../elements/id-611f30aa79e949439f93e4f06bd82e48.html"  target="element">
				  				<area shape="rect" coords="768,802,1478,857" href="../elements/id-f3331a72444d4cc49391c25e0f7745fd.html"  target="element">
				  				<area shape="rect" coords="442,700,719,755" href="../elements/id-1ea61b96bda34536937bf1783d3c4f22.html"  target="element">
				  				<area shape="rect" coords="70,700,394,755" href="../elements/id-cc8f986da3c64f6eb50fea04473a596c.html"  target="element">
				  				<area shape="rect" coords="65,802,707,857" href="../elements/id-9825f8c281d74fa5a9ec0171e246fb27.html"  target="element">
				  				<area shape="rect" coords="1090,496,1415,551" href="../elements/id-72c9ea29b0c24074bc555c3b3201e617.html"  target="element">
				  				<area shape="rect" coords="610,496,992,551" href="../elements/id-3c1ffe1cbc8944b4bd1e6075b0eac9e1.html"  target="element">
				  				<area shape="rect" coords="154,496,529,551" href="../elements/id-0c2dc1785bbc4274b810f7d974fadc9b.html"  target="element">
				  				<area shape="rect" coords="70,586,1478,641" href="../elements/id-2d603034c4194b058762690fd6415ff0.html"  target="element">
				  				<area shape="rect" coords="826,289,1331,344" href="../elements/id-a0d3c79cdc2840eaaf8927f96ec65a2d.html"  target="element">
				  				<area shape="rect" coords="154,286,682,347" href="../elements/id-88dfd0a869354490ae75e095d940582a.html"  target="element">
				  				<area shape="rect" coords="82,382,1473,437" href="../elements/id-f9c2f2cd09fd4799ac06f33ed88bb61c.html"  target="element">
				  				<area shape="rect" coords="70,178,1478,233" href="../elements/id-e53b31972646454384c78f3380f5c40e.html"  target="element">
				  				<area shape="rect" coords="1090,82,1473,143" href="../elements/id-0c7a544f41c64d959ec448b9e152de0a.html"  target="element">
				  				<area shape="rect" coords="574,82,957,143" href="../elements/id-e48158364b4f4d42bf870ad246a0a75b.html"  target="element">
				  				<area shape="rect" coords="71,82,455,143" href="../elements/id-bec80863d13c42dd85e3df25cd911478.html"  target="element">

				  		<area shape="rect" coords="10,10,1571,875" href="../elements/id-3fd56c1375c44038a7d61f56715945ea.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

                    <!-- Analysis -->

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
					<div role="tabpanel" class="tab-pane" id="analysis">
						<table class="table table-striped table-hover table-condensed" id="used-in-views">
							<thead>
								<tr><th colspan="2" class="i18n-used-in-views" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-viewpoint"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
						<table class="table table-striped table-hover table-condensed" id="model-relations">
							<thead>
								<tr><th colspan="4" class="i18n-model-relations" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-type"></th>
									<th class="i18n-source"></th>
									<th class="i18n-target"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-3fd56c1375c44038a7d61f56715945ea.html" target="element"> Safe health products and services delivered when and where they are needed </a> </td>
											    <td> <a href="../elements/id-3fd56c1375c44038a7d61f56715945ea.html" target="element" class="i18n-elementtype-Goal">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-bec80863d13c42dd85e3df25cd911478.html" target="element"> Accurate, timely demand forecasts using contextual data </a> </td>
													    <td> <a href="../elements/id-bec80863d13c42dd85e3df25cd911478.html" target="element" class="i18n-elementtype-Goal">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-e48158364b4f4d42bf870ad246a0a75b.html" target="element"> Supply plans with budget, capacity and program priorities </a> </td>
													    <td> <a href="../elements/id-e48158364b4f4d42bf870ad246a0a75b.html" target="element" class="i18n-elementtype-Goal">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-0c7a544f41c64d959ec448b9e152de0a.html" target="element"> Adaptive planning, responsive to outbreaks and emergencies </a> </td>
													    <td> <a href="../elements/id-0c7a544f41c64d959ec448b9e152de0a.html" target="element" class="i18n-elementtype-Goal">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-e53b31972646454384c78f3380f5c40e.html" target="element"> Forecasting &amp; Planning </a> </td>
													    <td> <a href="../elements/id-e53b31972646454384c78f3380f5c40e.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-f9c2f2cd09fd4799ac06f33ed88bb61c.html" target="element"> Order Management </a> </td>
													    <td> <a href="../elements/id-f9c2f2cd09fd4799ac06f33ed88bb61c.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-88dfd0a869354490ae75e095d940582a.html" target="element"> Complete, timely, and accurate fulfillment of health product orders; </a> </td>
													    <td> <a href="../elements/id-88dfd0a869354490ae75e095d940582a.html" target="element" class="i18n-elementtype-Goal">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-a0d3c79cdc2840eaaf8927f96ec65a2d.html" target="element"> Visibility of orders from placement to fulfillment </a> </td>
													    <td> <a href="../elements/id-a0d3c79cdc2840eaaf8927f96ec65a2d.html" target="element" class="i18n-elementtype-Goal">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-2d603034c4194b058762690fd6415ff0.html" target="element"> Warehouse / Inventory Management </a> </td>
													    <td> <a href="../elements/id-2d603034c4194b058762690fd6415ff0.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-0c2dc1785bbc4274b810f7d974fadc9b.html" target="element"> Real-time visibility of stock levels across all warehouses, pharmacies and health facility stores </a> </td>
													    <td> <a href="../elements/id-0c2dc1785bbc4274b810f7d974fadc9b.html" target="element" class="i18n-elementtype-Goal">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-3c1ffe1cbc8944b4bd1e6075b0eac9e1.html" target="element">  Efficient and accurate processes for receiving, storage, and distribution health products </a> </td>
													    <td> <a href="../elements/id-3c1ffe1cbc8944b4bd1e6075b0eac9e1.html" target="element" class="i18n-elementtype-Goal">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-72c9ea29b0c24074bc555c3b3201e617.html" target="element"> Minimized losses due to expiry, pilferage, or damage </a> </td>
													    <td> <a href="../elements/id-72c9ea29b0c24074bc555c3b3201e617.html" target="element" class="i18n-elementtype-Goal">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-9825f8c281d74fa5a9ec0171e246fb27.html" target="element"> Procurement Management </a> </td>
													    <td> <a href="../elements/id-9825f8c281d74fa5a9ec0171e246fb27.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-cc8f986da3c64f6eb50fea04473a596c.html" target="element"> Transparent, competitive, and cost-effective procurement processes </a> </td>
													    <td> <a href="../elements/id-cc8f986da3c64f6eb50fea04473a596c.html" target="element" class="i18n-elementtype-Goal">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-1ea61b96bda34536937bf1783d3c4f22.html" target="element"> Health product traceability from supplier to final distribution point </a> </td>
													    <td> <a href="../elements/id-1ea61b96bda34536937bf1783d3c4f22.html" target="element" class="i18n-elementtype-Goal">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-f3331a72444d4cc49391c25e0f7745fd.html" target="element"> Supplier &amp; Contracts Management </a> </td>
													    <td> <a href="../elements/id-f3331a72444d4cc49391c25e0f7745fd.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-611f30aa79e949439f93e4f06bd82e48.html" target="element"> Clear performance metrics and accountability for suppliers </a> </td>
													    <td> <a href="../elements/id-611f30aa79e949439f93e4f06bd82e48.html" target="element" class="i18n-elementtype-Goal">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-0cf148cf09914184972be4bdaee43394.html" target="element"> Monitored reliable suppliers and deliveries </a> </td>
													    <td> <a href="../elements/id-0cf148cf09914184972be4bdaee43394.html" target="element" class="i18n-elementtype-Goal">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-689e8648bcce42e695cd6512579b30a7.html" target="element"> Verifiable compliance with contractual terms and quality standards </a> </td>
													    <td> <a href="../elements/id-689e8648bcce42e695cd6512579b30a7.html" target="element" class="i18n-elementtype-Goal">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-78ec1c7fd76943298ffdeea12f7acc4d.html" target="element"> Continuous cold chain temperature monitoring and reporting </a> </td>
											    <td> <a href="../elements/id-78ec1c7fd76943298ffdeea12f7acc4d.html" target="element" class="i18n-elementtype-Goal">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d56dcdd2deb44ad4a88e6b573ccb7f92.html" target="element"> Cold chain reliability with preventive maintenance and redundancy </a> </td>
											    <td> <a href="../elements/id-d56dcdd2deb44ad4a88e6b573ccb7f92.html" target="element" class="i18n-elementtype-Goal">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-3c813327c5e14e6697a0e2fb1586cd6a.html" target="element"> Minimal vaccine and biologic losses due to cold chain failures. </a> </td>
											    <td> <a href="../elements/id-3c813327c5e14e6697a0e2fb1586cd6a.html" target="element" class="i18n-elementtype-Goal">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-fb45f12f12df4939927654027e6a54e1.html" target="element"> Cold Chain Management </a> </td>
											    <td> <a href="../elements/id-fb45f12f12df4939927654027e6a54e1.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-7a6dff73ad9d496f9b2df94ece5a3f70.html" target="element"> Accurate dispensing to patients based on prescriptions </a> </td>
											    <td> <a href="../elements/id-7a6dff73ad9d496f9b2df94ece5a3f70.html" target="element" class="i18n-elementtype-Goal">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b6a234cbca8a47cb8aa6bdfcc7c6bc80.html" target="element"> Ttraceability from procurement to patient-level consumption </a> </td>
											    <td> <a href="../elements/id-b6a234cbca8a47cb8aa6bdfcc7c6bc80.html" target="element" class="i18n-elementtype-Goal">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f9f30d3e83e24a8daa3393eebb0838eb.html" target="element"> Dispensing </a> </td>
											    <td> <a href="../elements/id-f9f30d3e83e24a8daa3393eebb0838eb.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b37bf4947ec9430197f9056d283eb5b0.html" target="element"> Transportation Management </a> </td>
											    <td> <a href="../elements/id-b37bf4947ec9430197f9056d283eb5b0.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-48362e4151454c8a9dfae6acfb7401be.html" target="element"> Timely and reliable delivery to all levels of the supply chain </a> </td>
											    <td> <a href="../elements/id-48362e4151454c8a9dfae6acfb7401be.html" target="element" class="i18n-elementtype-Goal">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2031d7ced34f4ea0ad0da9d91f5c52e1.html" target="element"> Optimized routing and load planning </a> </td>
											    <td> <a href="../elements/id-2031d7ced34f4ea0ad0da9d91f5c52e1.html" target="element" class="i18n-elementtype-Goal">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-7677a772744241a89e0cca82c35fb07c.html" target="element"> Monitored transportation conditions </a> </td>
											    <td> <a href="../elements/id-7677a772744241a89e0cca82c35fb07c.html" target="element" class="i18n-elementtype-Goal">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-9aa8c80d626d458ba54969273b0d43fd.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9aa8c80d626d458ba54969273b0d43fd.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3fd56c1375c44038a7d61f56715945ea.html" target="element"> Safe health products and services delivered when and where they are needed </a> </td>
																		<td> <a href="../elements/id-bec80863d13c42dd85e3df25cd911478.html" target="element"> Accurate, timely demand forecasts using contextual data </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-384675023637494e942e13e7cccdc9e4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-384675023637494e942e13e7cccdc9e4.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3fd56c1375c44038a7d61f56715945ea.html" target="element"> Safe health products and services delivered when and where they are needed </a> </td>
																		<td> <a href="../elements/id-0c7a544f41c64d959ec448b9e152de0a.html" target="element"> Adaptive planning, responsive to outbreaks and emergencies </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-34441ddbac63430fb64f1df8055c55e4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-34441ddbac63430fb64f1df8055c55e4.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3fd56c1375c44038a7d61f56715945ea.html" target="element"> Safe health products and services delivered when and where they are needed </a> </td>
																		<td> <a href="../elements/id-e48158364b4f4d42bf870ad246a0a75b.html" target="element"> Supply plans with budget, capacity and program priorities </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-9f8ba0b2b44244c08f5dd219364ad81c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9f8ba0b2b44244c08f5dd219364ad81c.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3fd56c1375c44038a7d61f56715945ea.html" target="element"> Safe health products and services delivered when and where they are needed </a> </td>
																		<td> <a href="../elements/id-88dfd0a869354490ae75e095d940582a.html" target="element"> Complete, timely, and accurate fulfillment of health product orders; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-040c1cafb6674951ae3fa8e03f90f3aa.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-040c1cafb6674951ae3fa8e03f90f3aa.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3fd56c1375c44038a7d61f56715945ea.html" target="element"> Safe health products and services delivered when and where they are needed </a> </td>
																		<td> <a href="../elements/id-a0d3c79cdc2840eaaf8927f96ec65a2d.html" target="element"> Visibility of orders from placement to fulfillment </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b6a3c0985f1b4ed09477d91c37e6846d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b6a3c0985f1b4ed09477d91c37e6846d.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3fd56c1375c44038a7d61f56715945ea.html" target="element"> Safe health products and services delivered when and where they are needed </a> </td>
																		<td> <a href="../elements/id-0c2dc1785bbc4274b810f7d974fadc9b.html" target="element"> Real-time visibility of stock levels across all warehouses, pharmacies and health facility stores </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-77b9e8dd1ff144bba9bf6e0138dcf2d9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-77b9e8dd1ff144bba9bf6e0138dcf2d9.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3fd56c1375c44038a7d61f56715945ea.html" target="element"> Safe health products and services delivered when and where they are needed </a> </td>
																		<td> <a href="../elements/id-3c1ffe1cbc8944b4bd1e6075b0eac9e1.html" target="element">  Efficient and accurate processes for receiving, storage, and distribution health products </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-cd58bfb1ffcb44219851615dbacfd54c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cd58bfb1ffcb44219851615dbacfd54c.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3fd56c1375c44038a7d61f56715945ea.html" target="element"> Safe health products and services delivered when and where they are needed </a> </td>
																		<td> <a href="../elements/id-72c9ea29b0c24074bc555c3b3201e617.html" target="element"> Minimized losses due to expiry, pilferage, or damage </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-0b110015b23f4d03967caef2ffd1c1ae.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0b110015b23f4d03967caef2ffd1c1ae.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3fd56c1375c44038a7d61f56715945ea.html" target="element"> Safe health products and services delivered when and where they are needed </a> </td>
																		<td> <a href="../elements/id-cc8f986da3c64f6eb50fea04473a596c.html" target="element"> Transparent, competitive, and cost-effective procurement processes </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-3380c57099b5438abfd51ed5760aa497.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3380c57099b5438abfd51ed5760aa497.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3fd56c1375c44038a7d61f56715945ea.html" target="element"> Safe health products and services delivered when and where they are needed </a> </td>
																		<td> <a href="../elements/id-1ea61b96bda34536937bf1783d3c4f22.html" target="element"> Health product traceability from supplier to final distribution point </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-7750edaaa52b4bd196d05273106aa1eb.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7750edaaa52b4bd196d05273106aa1eb.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3fd56c1375c44038a7d61f56715945ea.html" target="element"> Safe health products and services delivered when and where they are needed </a> </td>
																		<td> <a href="../elements/id-611f30aa79e949439f93e4f06bd82e48.html" target="element"> Clear performance metrics and accountability for suppliers </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-571dffb5adeb49feabbccb0b77288718.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-571dffb5adeb49feabbccb0b77288718.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3fd56c1375c44038a7d61f56715945ea.html" target="element"> Safe health products and services delivered when and where they are needed </a> </td>
																		<td> <a href="../elements/id-0cf148cf09914184972be4bdaee43394.html" target="element"> Monitored reliable suppliers and deliveries </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a69e3a4da6794290b1b1d9568a4d88f2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a69e3a4da6794290b1b1d9568a4d88f2.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3fd56c1375c44038a7d61f56715945ea.html" target="element"> Safe health products and services delivered when and where they are needed </a> </td>
																		<td> <a href="../elements/id-689e8648bcce42e695cd6512579b30a7.html" target="element"> Verifiable compliance with contractual terms and quality standards </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-1565979ae7eb433ab4ec3f486115ecc0.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-1565979ae7eb433ab4ec3f486115ecc0.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-e53b31972646454384c78f3380f5c40e.html" target="element"> Forecasting &amp; Planning </a> </td>
																				<td> <a href="../elements/id-e48158364b4f4d42bf870ad246a0a75b.html" target="element"> Supply plans with budget, capacity and program priorities </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-723d426684b343cfb0169e93ab34d316.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-723d426684b343cfb0169e93ab34d316.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-e53b31972646454384c78f3380f5c40e.html" target="element"> Forecasting &amp; Planning </a> </td>
																				<td> <a href="../elements/id-bec80863d13c42dd85e3df25cd911478.html" target="element"> Accurate, timely demand forecasts using contextual data </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-d99f0f3f2af043d8885e624db3967ff0.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-d99f0f3f2af043d8885e624db3967ff0.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-e53b31972646454384c78f3380f5c40e.html" target="element"> Forecasting &amp; Planning </a> </td>
																				<td> <a href="../elements/id-0c7a544f41c64d959ec448b9e152de0a.html" target="element"> Adaptive planning, responsive to outbreaks and emergencies </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-b2aaccf9e5514b069594af4a19ed655c.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-b2aaccf9e5514b069594af4a19ed655c.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-f9c2f2cd09fd4799ac06f33ed88bb61c.html" target="element"> Order Management </a> </td>
																				<td> <a href="../elements/id-88dfd0a869354490ae75e095d940582a.html" target="element"> Complete, timely, and accurate fulfillment of health product orders; </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-4ba463d69e644827af79b97766fb7db4.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-4ba463d69e644827af79b97766fb7db4.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-f9c2f2cd09fd4799ac06f33ed88bb61c.html" target="element"> Order Management </a> </td>
																				<td> <a href="../elements/id-a0d3c79cdc2840eaaf8927f96ec65a2d.html" target="element"> Visibility of orders from placement to fulfillment </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-b52e9200e9ad403c9b140ccf40f9acfb.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-b52e9200e9ad403c9b140ccf40f9acfb.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-2d603034c4194b058762690fd6415ff0.html" target="element"> Warehouse / Inventory Management </a> </td>
																				<td> <a href="../elements/id-0c2dc1785bbc4274b810f7d974fadc9b.html" target="element"> Real-time visibility of stock levels across all warehouses, pharmacies and health facility stores </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-64ea60c09a9642089993ee04cb19ddea.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-64ea60c09a9642089993ee04cb19ddea.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-2d603034c4194b058762690fd6415ff0.html" target="element"> Warehouse / Inventory Management </a> </td>
																				<td> <a href="../elements/id-3c1ffe1cbc8944b4bd1e6075b0eac9e1.html" target="element">  Efficient and accurate processes for receiving, storage, and distribution health products </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-3171c09406eb4d208e8564e8970824b8.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-3171c09406eb4d208e8564e8970824b8.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-2d603034c4194b058762690fd6415ff0.html" target="element"> Warehouse / Inventory Management </a> </td>
																				<td> <a href="../elements/id-72c9ea29b0c24074bc555c3b3201e617.html" target="element"> Minimized losses due to expiry, pilferage, or damage </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-755522b40b88478fb5ac642294d47167.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-755522b40b88478fb5ac642294d47167.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-9825f8c281d74fa5a9ec0171e246fb27.html" target="element"> Procurement Management </a> </td>
																				<td> <a href="../elements/id-cc8f986da3c64f6eb50fea04473a596c.html" target="element"> Transparent, competitive, and cost-effective procurement processes </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-bbf5afe84ced4469a70c507a4d705077.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-bbf5afe84ced4469a70c507a4d705077.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-9825f8c281d74fa5a9ec0171e246fb27.html" target="element"> Procurement Management </a> </td>
																				<td> <a href="../elements/id-1ea61b96bda34536937bf1783d3c4f22.html" target="element"> Health product traceability from supplier to final distribution point </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-295c84a2d8104fb0bb6584cdf5ecb7f7.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-295c84a2d8104fb0bb6584cdf5ecb7f7.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-f3331a72444d4cc49391c25e0f7745fd.html" target="element"> Supplier &amp; Contracts Management </a> </td>
																				<td> <a href="../elements/id-611f30aa79e949439f93e4f06bd82e48.html" target="element"> Clear performance metrics and accountability for suppliers </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-e2ebf60dfcdd405d93b51cbabcabe2a9.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-e2ebf60dfcdd405d93b51cbabcabe2a9.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-f3331a72444d4cc49391c25e0f7745fd.html" target="element"> Supplier &amp; Contracts Management </a> </td>
																				<td> <a href="../elements/id-689e8648bcce42e695cd6512579b30a7.html" target="element"> Verifiable compliance with contractual terms and quality standards </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-0cdacedb00414784b2b09dba4a007688.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-0cdacedb00414784b2b09dba4a007688.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-f3331a72444d4cc49391c25e0f7745fd.html" target="element"> Supplier &amp; Contracts Management </a> </td>
																				<td> <a href="../elements/id-0cf148cf09914184972be4bdaee43394.html" target="element"> Monitored reliable suppliers and deliveries </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-cd253faa6d564d85a4c4e3cd9257d803.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cd253faa6d564d85a4c4e3cd9257d803.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-fb45f12f12df4939927654027e6a54e1.html" target="element"> Cold Chain Management </a> </td>
																		<td> <a href="../elements/id-78ec1c7fd76943298ffdeea12f7acc4d.html" target="element"> Continuous cold chain temperature monitoring and reporting </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c5f1d2f37ad94377a43648180f886c1f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c5f1d2f37ad94377a43648180f886c1f.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-fb45f12f12df4939927654027e6a54e1.html" target="element"> Cold Chain Management </a> </td>
																		<td> <a href="../elements/id-3c813327c5e14e6697a0e2fb1586cd6a.html" target="element"> Minimal vaccine and biologic losses due to cold chain failures. </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-efdad48328da4ec0b779e5f33533cacd.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-efdad48328da4ec0b779e5f33533cacd.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-fb45f12f12df4939927654027e6a54e1.html" target="element"> Cold Chain Management </a> </td>
																		<td> <a href="../elements/id-d56dcdd2deb44ad4a88e6b573ccb7f92.html" target="element"> Cold chain reliability with preventive maintenance and redundancy </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-fbe9c138dc114c36b1b0295f5f201cf4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-fbe9c138dc114c36b1b0295f5f201cf4.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f9f30d3e83e24a8daa3393eebb0838eb.html" target="element"> Dispensing </a> </td>
																		<td> <a href="../elements/id-b6a234cbca8a47cb8aa6bdfcc7c6bc80.html" target="element"> Ttraceability from procurement to patient-level consumption </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-d89e49267cc044029f9de33bb30284db.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d89e49267cc044029f9de33bb30284db.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f9f30d3e83e24a8daa3393eebb0838eb.html" target="element"> Dispensing </a> </td>
																		<td> <a href="../elements/id-7a6dff73ad9d496f9b2df94ece5a3f70.html" target="element"> Accurate dispensing to patients based on prescriptions </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-d3e11139c5ce4c4d85dabdd2fb2e506b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d3e11139c5ce4c4d85dabdd2fb2e506b.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b37bf4947ec9430197f9056d283eb5b0.html" target="element"> Transportation Management </a> </td>
																		<td> <a href="../elements/id-2031d7ced34f4ea0ad0da9d91f5c52e1.html" target="element"> Optimized routing and load planning </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c05dc37273c14b81b3e77bb792828743.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c05dc37273c14b81b3e77bb792828743.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b37bf4947ec9430197f9056d283eb5b0.html" target="element"> Transportation Management </a> </td>
																		<td> <a href="../elements/id-7677a772744241a89e0cca82c35fb07c.html" target="element"> Monitored transportation conditions </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-d3f7fae26594498c95ef8abcaf66d6d9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d3f7fae26594498c95ef8abcaf66d6d9.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b37bf4947ec9430197f9056d283eb5b0.html" target="element"> Transportation Management </a> </td>
																		<td> <a href="../elements/id-48362e4151454c8a9dfae6acfb7401be.html" target="element"> Timely and reliable delivery to all levels of the supply chain </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>