<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Metadata Registry Governance</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.4.1.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Metadata Registry Governance</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-f7a5524bbac84f1a9cf424754750819d.png" alt="Metadata Registry Governance" usemap="#id-f7a5524bbac84f1a9cf424754750819dmap"/>
			   <map name="id-f7a5524bbac84f1a9cf424754750819dmap">
				  		<area shape="rect" coords="815,406,935,443" href="../elements/id-f7bc786e30614e1496aac8ef65322f9c.html"  target="element">
				  		<area shape="rect" coords="815,346,935,383" href="../elements/id-bca46e864f4e4cf1b89536a09e9cda90.html"  target="element">
				  		<area shape="rect" coords="226,262,346,317" href="../elements/id-d60c1f59f4d64f5aa7d9c3089a399e35.html"  target="element">
				  		<area shape="rect" coords="10,262,130,317" href="../elements/id-2dafda6622b54d80aa8975688a60be96.html"  target="element">
				  		<area shape="rect" coords="226,490,346,545" href="../elements/id-59eefeb14ee849b5922557ae4a47e7b6.html"  target="element">
				  		<area shape="rect" coords="688,10,808,65" href="../elements/id-04141e93cb084711a861dfb1a680ef61.html"  target="element">
				  		<area shape="rect" coords="450,490,570,545" href="../elements/id-c81a5272868141fcb61a9cf68ad8074d.html"  target="element">
				  		<area shape="rect" coords="934,142,1054,197" href="../elements/id-8ceb8598df444a2288aa91c215ba2b56.html"  target="element">
				  		<area shape="rect" coords="934,264,1054,319" href="../elements/id-671fc5bddfb44440a7187643db24fb57.html"  target="element">
				  		<area shape="rect" coords="688,262,808,317" href="../elements/id-c4b3ee6bc379479f8efeb0ac34f24d6c.html"  target="element">
				  		<area shape="rect" coords="450,262,570,317" href="../elements/id-6c3eff21600c4a94b85d1105a58c43c6.html"  target="element">
				  		<area shape="rect" coords="688,490,808,545" href="../elements/id-a738938b20d0405b9d4cee2b558a9d89.html"  target="element">
				  		<area shape="rect" coords="688,142,808,197" href="../elements/id-3ba37ce39645467eb954c74e63e6231d.html"  target="element">
				  		<area shape="rect" coords="10,142,130,197" href="../elements/id-8b18cf7ed0534fc8b9bf4ba4868a8975.html"  target="element">
				  		<area shape="rect" coords="226,142,346,197" href="../elements/id-7195059397624e21ba02cfb8305aa771.html"  target="element">
				  		<area shape="rect" coords="450,142,570,197" href="../elements/id-99b92fe529e94fcd8ceac04cb16aefd7.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

                    <!-- Analysis -->

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
					<div role="tabpanel" class="tab-pane" id="analysis">
						<table class="table table-striped table-hover table-condensed" id="used-in-views">
							<thead>
								<tr><th colspan="2" class="i18n-used-in-views" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-viewpoint"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
						<table class="table table-striped table-hover table-condensed" id="model-relations">
							<thead>
								<tr><th colspan="4" class="i18n-model-relations" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-type"></th>
									<th class="i18n-source"></th>
									<th class="i18n-target"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-99b92fe529e94fcd8ceac04cb16aefd7.html" target="element"> Owner </a> </td>
											    <td> <a href="../elements/id-99b92fe529e94fcd8ceac04cb16aefd7.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-7195059397624e21ba02cfb8305aa771.html" target="element"> &lt;MD&gt; Change requests </a> </td>
											    <td> <a href="../elements/id-7195059397624e21ba02cfb8305aa771.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-8b18cf7ed0534fc8b9bf4ba4868a8975.html" target="element"> &lt;MD&gt; Stakeholder </a> </td>
											    <td> <a href="../elements/id-8b18cf7ed0534fc8b9bf4ba4868a8975.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-3ba37ce39645467eb954c74e63e6231d.html" target="element"> &lt;MD&gt; Content </a> </td>
											    <td> <a href="../elements/id-3ba37ce39645467eb954c74e63e6231d.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a738938b20d0405b9d4cee2b558a9d89.html" target="element"> &lt;MD&gt; Repository </a> </td>
											    <td> <a href="../elements/id-a738938b20d0405b9d4cee2b558a9d89.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-6c3eff21600c4a94b85d1105a58c43c6.html" target="element"> &lt;MD&gt; Change management </a> </td>
											    <td> <a href="../elements/id-6c3eff21600c4a94b85d1105a58c43c6.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c4b3ee6bc379479f8efeb0ac34f24d6c.html" target="element"> &lt;MD&gt; Publication / distribution </a> </td>
											    <td> <a href="../elements/id-c4b3ee6bc379479f8efeb0ac34f24d6c.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-671fc5bddfb44440a7187643db24fb57.html" target="element"> &lt;MD&gt; Monitoring </a> </td>
											    <td> <a href="../elements/id-671fc5bddfb44440a7187643db24fb57.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-8ceb8598df444a2288aa91c215ba2b56.html" target="element"> &lt;MD&gt; Management rules </a> </td>
											    <td> <a href="../elements/id-8ceb8598df444a2288aa91c215ba2b56.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c81a5272868141fcb61a9cf68ad8074d.html" target="element"> &lt;MD&gt; Authoring tool </a> </td>
											    <td> <a href="../elements/id-c81a5272868141fcb61a9cf68ad8074d.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-04141e93cb084711a861dfb1a680ef61.html" target="element"> &lt;MD&gt; Upstream Content </a> </td>
											    <td> <a href="../elements/id-04141e93cb084711a861dfb1a680ef61.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-59eefeb14ee849b5922557ae4a47e7b6.html" target="element"> &lt;MD&gt; Change Request tooling????? </a> </td>
											    <td> <a href="../elements/id-59eefeb14ee849b5922557ae4a47e7b6.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2dafda6622b54d80aa8975688a60be96.html" target="element"> Consume &lt;MD&gt; </a> </td>
											    <td> <a href="../elements/id-2dafda6622b54d80aa8975688a60be96.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d60c1f59f4d64f5aa7d9c3089a399e35.html" target="element"> Author </a> </td>
											    <td> <a href="../elements/id-d60c1f59f4d64f5aa7d9c3089a399e35.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-bca46e864f4e4cf1b89536a09e9cda90.html" target="element"> Subscription </a> </td>
											    <td> <a href="../elements/id-bca46e864f4e4cf1b89536a09e9cda90.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f7bc786e30614e1496aac8ef65322f9c.html" target="element"> Exchange </a> </td>
											    <td> <a href="../elements/id-f7bc786e30614e1496aac8ef65322f9c.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-4b976e2df482407e96c47dc26fe2723f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4b976e2df482407e96c47dc26fe2723f.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7195059397624e21ba02cfb8305aa771.html" target="element"> &lt;MD&gt; Change requests </a> </td>
																		<td> <a href="../elements/id-6c3eff21600c4a94b85d1105a58c43c6.html" target="element"> &lt;MD&gt; Change management </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-365980e842c144e8aaf62cfc1d150451.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-365980e842c144e8aaf62cfc1d150451.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8b18cf7ed0534fc8b9bf4ba4868a8975.html" target="element"> &lt;MD&gt; Stakeholder </a> </td>
																		<td> <a href="../elements/id-2dafda6622b54d80aa8975688a60be96.html" target="element"> Consume &lt;MD&gt; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-f12db89702a54c699a0fd4ea4ad921c9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f12db89702a54c699a0fd4ea4ad921c9.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3ba37ce39645467eb954c74e63e6231d.html" target="element"> &lt;MD&gt; Content </a> </td>
																		<td> <a href="../elements/id-99b92fe529e94fcd8ceac04cb16aefd7.html" target="element"> Owner </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-d5a793f4118142d99fd014f775f58d2c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d5a793f4118142d99fd014f775f58d2c.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6c3eff21600c4a94b85d1105a58c43c6.html" target="element"> &lt;MD&gt; Change management </a> </td>
																		<td> <a href="../elements/id-99b92fe529e94fcd8ceac04cb16aefd7.html" target="element"> Owner </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-5a44401920e54dc6897c70a5a554ff54.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5a44401920e54dc6897c70a5a554ff54.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6c3eff21600c4a94b85d1105a58c43c6.html" target="element"> &lt;MD&gt; Change management </a> </td>
																		<td> <a href="../elements/id-c4b3ee6bc379479f8efeb0ac34f24d6c.html" target="element"> &lt;MD&gt; Publication / distribution </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-a237fe62ece44de1a1abf272d21b556e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a237fe62ece44de1a1abf272d21b556e.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c4b3ee6bc379479f8efeb0ac34f24d6c.html" target="element"> &lt;MD&gt; Publication / distribution </a> </td>
																		<td> <a href="../elements/id-3ba37ce39645467eb954c74e63e6231d.html" target="element"> &lt;MD&gt; Content </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-93446998f72644bcbc2d312e77cc3d59.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-93446998f72644bcbc2d312e77cc3d59.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-671fc5bddfb44440a7187643db24fb57.html" target="element"> &lt;MD&gt; Monitoring </a> </td>
																		<td> <a href="../elements/id-c4b3ee6bc379479f8efeb0ac34f24d6c.html" target="element"> &lt;MD&gt; Publication / distribution </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-bfc87838a80d4adb8476faac9899847a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-bfc87838a80d4adb8476faac9899847a.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8ceb8598df444a2288aa91c215ba2b56.html" target="element"> &lt;MD&gt; Management rules </a> </td>
																		<td> <a href="../elements/id-671fc5bddfb44440a7187643db24fb57.html" target="element"> &lt;MD&gt; Monitoring </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-42a891f6319b4b14a7a7ba21b20a92fc.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-42a891f6319b4b14a7a7ba21b20a92fc.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c81a5272868141fcb61a9cf68ad8074d.html" target="element"> &lt;MD&gt; Authoring tool </a> </td>
																		<td> <a href="../elements/id-d60c1f59f4d64f5aa7d9c3089a399e35.html" target="element"> Author </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-2e234297eee84facae1c81761a142286.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2e234297eee84facae1c81761a142286.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2dafda6622b54d80aa8975688a60be96.html" target="element"> Consume &lt;MD&gt; </a> </td>
																		<td> <a href="../elements/id-7195059397624e21ba02cfb8305aa771.html" target="element"> &lt;MD&gt; Change requests </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-7d48e2693c2e449e80ed136d2809a227.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7d48e2693c2e449e80ed136d2809a227.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d60c1f59f4d64f5aa7d9c3089a399e35.html" target="element"> Author </a> </td>
																		<td> <a href="../elements/id-6c3eff21600c4a94b85d1105a58c43c6.html" target="element"> &lt;MD&gt; Change management </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>