<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Layered Viewpoint</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.4.1.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Layered Viewpoint</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-973ae9891df24dcb9cdc4a29999a7001.png" alt="Layered Viewpoint" usemap="#id-973ae9891df24dcb9cdc4a29999a7001map"/>
			   <map name="id-973ae9891df24dcb9cdc4a29999a7001map">
				  		<area shape="rect" coords="541,910,697,965" href="../elements/id-9625e5ae624149c9a324b4ba9bf8c3f7.html"  target="element">
				  		<area shape="rect" coords="376,910,530,965" href="../elements/id-3fc94408cc4c4f599efaaf8065811fb5.html"  target="element">
				  		<area shape="rect" coords="206,910,360,965" href="../elements/id-93364d66007e470d9ee25a85b9c56b64.html"  target="element">
				  		<area shape="rect" coords="709,826,865,881" href="../elements/id-8d79d1312b7d49baa0b68c4605afff7b.html"  target="element">
				  		<area shape="rect" coords="541,826,697,881" href="../elements/id-f49ca46488854076b5e481f93de34601.html"  target="element">
				  		<area shape="rect" coords="375,826,531,881" href="../elements/id-faa8e8618b3f40b5b8d0d63ab1769aa8.html"  target="element">
				  		<area shape="rect" coords="722,682,878,737" href="../elements/id-3f2316ec107d46a89f2871d2d4ba8d21.html"  target="element">
				  		<area shape="rect" coords="205,826,361,881" href="../elements/id-6570181f37f0440f82552b45f87e529f.html"  target="element">
				  		<area shape="rect" coords="554,682,710,737" href="../elements/id-dd87bd3684d64a9a865f09e8a5e6daf0.html"  target="element">
				  		<area shape="rect" coords="386,682,542,737" href="../elements/id-533f412177f94a04903d62a2fa8b95ca.html"  target="element">
				  		<area shape="rect" coords="219,682,375,737" href="../elements/id-9705a3ddf71d42649f66631e7572d19f.html"  target="element">
				  		<area shape="rect" coords="50,682,206,737" href="../elements/id-d881d4f5966d4969b6eea9c934ccb7ef.html"  target="element">
				  		<area shape="rect" coords="1058,584,1214,639" href="../elements/id-a5cf47524c66470aa7434ac61cdb58f2.html"  target="element">
				  		<area shape="rect" coords="890,584,1046,639" href="../elements/id-3f8d0409de9c4f5091ca7c0e4bf17832.html"  target="element">
				  		<area shape="rect" coords="722,584,878,639" href="../elements/id-ed54ddd2eef44e7eb556839b6302dc1c.html"  target="element">
				  		<area shape="rect" coords="554,586,710,641" href="../elements/id-80a2d37d2f8947c6b0b30ec7858fd3aa.html"  target="element">
				  		<area shape="rect" coords="386,586,542,641" href="../elements/id-f505f4e1766c4611aa719194917e699a.html"  target="element">
				  		<area shape="rect" coords="219,586,375,641" href="../elements/id-6ea9310195a14d27937f219802f378de.html"  target="element">
				  		<area shape="rect" coords="50,586,206,641" href="../elements/id-ba8950863a20479bbfc32fabfef5341f.html"  target="element">
				  		<area shape="rect" coords="1058,478,1214,533" href="../elements/id-43eecfa3dfd2462eb07e034d1f20fc63.html"  target="element">
				  		<area shape="rect" coords="890,478,1046,533" href="../elements/id-14d069ea9e684373b34720d0aa2cb8eb.html"  target="element">
				  		<area shape="rect" coords="722,478,878,533" href="../elements/id-2ce652c884194e4fa1b28d21ab8c21d9.html"  target="element">
				  		<area shape="rect" coords="554,478,710,533" href="../elements/id-84b9b9ae24674fee9b507734a6938b05.html"  target="element">
				  		<area shape="rect" coords="386,478,542,533" href="../elements/id-64b9c6fb959747abacb0b5274cd69664.html"  target="element">
				  		<area shape="rect" coords="219,478,376,533" href="../elements/id-2de9e54001c44104861267249b58d7cd.html"  target="element">
				  		<area shape="rect" coords="50,478,207,533" href="../elements/id-aca744c82f504bd1b825e022d1f802fa.html"  target="element">
				  		<area shape="rect" coords="61,310,410,365" href="../elements/id-1f023ed31ab44aebb836a29b68a6d71c.html"  target="element">
				  		<area shape="rect" coords="61,132,313,227" href="../elements/id-d0f32d6775ed4ca5beb44484778286b1.html"  target="element">
				  		<area shape="rect" coords="61,10,1202,71" href="../elements/id-f172220480134b3d956cddfcfda14302.html"  target="element">
				  				<area shape="rect" coords="901,130,1166,225" href="../elements/id-8979304a25d14e3289db3221f0ca9265.html"  target="element">
				  				<area shape="rect" coords="625,130,866,225" href="../elements/id-763f312c13d14afbac767a1056103f62.html"  target="element">
				  				<area shape="rect" coords="337,130,590,225" href="../elements/id-1a27e740c27a438eb2893c87c183855e.html"  target="element">

				  		<area shape="rect" coords="37,106,1226,250" href="../elements/id-7c6e21840f834a1f8fadb264c17db0be.html"  target="element">
				  				<area shape="rect" coords="805,310,1154,365" href="../elements/id-fe4fb69067304278abc56be8f8080625.html"  target="element">
				  				<area shape="rect" coords="433,310,782,365" href="../elements/id-be9ab1c91bd44cd79ff52be7f6fd1a43.html"  target="element">

				  		<area shape="rect" coords="37,274,1226,395" href="../elements/id-966c7de0bb0a4b2eba582d41106d8251.html"  target="element">
				          <area shape="rect" coords="10,436,1250,1042" href="../objects/id-289baebf222f4cddaead4fe331f1e7da.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

                    <!-- Analysis -->

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
					<div role="tabpanel" class="tab-pane" id="analysis">
						<table class="table table-striped table-hover table-condensed" id="used-in-views">
							<thead>
								<tr><th colspan="2" class="i18n-used-in-views" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-viewpoint"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
						<table class="table table-striped table-hover table-condensed" id="model-relations">
							<thead>
								<tr><th colspan="4" class="i18n-model-relations" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-type"></th>
									<th class="i18n-source"></th>
									<th class="i18n-target"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/id-289baebf222f4cddaead4fe331f1e7da.html" target="element"> Surveillance Implementation </a> </td>
									           <td> <a href="../objects/id-289baebf222f4cddaead4fe331f1e7da.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-966c7de0bb0a4b2eba582d41106d8251.html" target="element"> Surveillance Outcomes </a> </td>
											    <td> <a href="../elements/id-966c7de0bb0a4b2eba582d41106d8251.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-be9ab1c91bd44cd79ff52be7f6fd1a43.html" target="element"> Increased accuracy and trust in surveillance data. </a> </td>
													    <td> <a href="../elements/id-be9ab1c91bd44cd79ff52be7f6fd1a43.html" target="element" class="i18n-elementtype-Outcome">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-fe4fb69067304278abc56be8f8080625.html" target="element"> Strengthened population health research and preparedness. </a> </td>
													    <td> <a href="../elements/id-fe4fb69067304278abc56be8f8080625.html" target="element" class="i18n-elementtype-Outcome">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-7c6e21840f834a1f8fadb264c17db0be.html" target="element"> Surveillance Sub-goals </a> </td>
											    <td> <a href="../elements/id-7c6e21840f834a1f8fadb264c17db0be.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-1a27e740c27a438eb2893c87c183855e.html" target="element"> Enable timely reporting and coordinated response </a> </td>
													    <td> <a href="../elements/id-1a27e740c27a438eb2893c87c183855e.html" target="element" class="i18n-elementtype-Goal">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-763f312c13d14afbac767a1056103f62.html" target="element"> Strengthen adverse event reporting (AER) and pharmacovigilance </a> </td>
													    <td> <a href="../elements/id-763f312c13d14afbac767a1056103f62.html" target="element" class="i18n-elementtype-Goal">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-8979304a25d14e3289db3221f0ca9265.html" target="element"> Maximize secondary use of health data (for publich health research, and policy) </a> </td>
													    <td> <a href="../elements/id-8979304a25d14e3289db3221f0ca9265.html" target="element" class="i18n-elementtype-Goal">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-f172220480134b3d956cddfcfda14302.html" target="element"> Digitally strengthen public health surveillance and response systems, adverse event reporting, and maximize appropriate secondary use of data for public health purposes.  </a> </td>
											    <td> <a href="../elements/id-f172220480134b3d956cddfcfda14302.html" target="element" class="i18n-elementtype-Goal">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d0f32d6775ed4ca5beb44484778286b1.html" target="element"> Detect and assess public health threats early </a> </td>
											    <td> <a href="../elements/id-d0f32d6775ed4ca5beb44484778286b1.html" target="element" class="i18n-elementtype-Goal">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-1f023ed31ab44aebb836a29b68a6d71c.html" target="element"> Faster outbreak detection and reduced public health risk. </a> </td>
											    <td> <a href="../elements/id-1f023ed31ab44aebb836a29b68a6d71c.html" target="element" class="i18n-elementtype-Outcome">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-aca744c82f504bd1b825e022d1f802fa.html" target="element"> 1.0 Event Detection and Case Notification </a> </td>
											    <td> <a href="../elements/id-aca744c82f504bd1b825e022d1f802fa.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2de9e54001c44104861267249b58d7cd.html" target="element"> 2.0 Adverse Event Reporting and Safety Signals </a> </td>
											    <td> <a href="../elements/id-2de9e54001c44104861267249b58d7cd.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-64b9c6fb959747abacb0b5274cd69664.html" target="element"> 3.0 Risk Assessment and Intelligence </a> </td>
											    <td> <a href="../elements/id-64b9c6fb959747abacb0b5274cd69664.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-84b9b9ae24674fee9b507734a6938b05.html" target="element"> 4.0 Coordinated Response Management </a> </td>
											    <td> <a href="../elements/id-84b9b9ae24674fee9b507734a6938b05.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2ce652c884194e4fa1b28d21ab8c21d9.html" target="element"> 5.0 Data Sharing and Interoperability </a> </td>
											    <td> <a href="../elements/id-2ce652c884194e4fa1b28d21ab8c21d9.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-14d069ea9e684373b34720d0aa2cb8eb.html" target="element"> 6.0 Data Governance and Privacy </a> </td>
											    <td> <a href="../elements/id-14d069ea9e684373b34720d0aa2cb8eb.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-43eecfa3dfd2462eb07e034d1f20fc63.html" target="element"> 7.0 Knowledge Dissemination and Alerts  </a> </td>
											    <td> <a href="../elements/id-43eecfa3dfd2462eb07e034d1f20fc63.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ba8950863a20479bbfc32fabfef5341f.html" target="element"> Case and Event Reporting Service </a> </td>
											    <td> <a href="../elements/id-ba8950863a20479bbfc32fabfef5341f.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-6ea9310195a14d27937f219802f378de.html" target="element"> Adverse Event Reporting Service </a> </td>
											    <td> <a href="../elements/id-6ea9310195a14d27937f219802f378de.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f505f4e1766c4611aa719194917e699a.html" target="element"> Analytics and Risk Assessment Service </a> </td>
											    <td> <a href="../elements/id-f505f4e1766c4611aa719194917e699a.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-80a2d37d2f8947c6b0b30ec7858fd3aa.html" target="element"> Alerting and Notification Service </a> </td>
											    <td> <a href="../elements/id-80a2d37d2f8947c6b0b30ec7858fd3aa.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ed54ddd2eef44e7eb556839b6302dc1c.html" target="element"> Interoperability Gateway Service </a> </td>
											    <td> <a href="../elements/id-ed54ddd2eef44e7eb556839b6302dc1c.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-3f8d0409de9c4f5091ca7c0e4bf17832.html" target="element"> Consent and Data Governance Service </a> </td>
											    <td> <a href="../elements/id-3f8d0409de9c4f5091ca7c0e4bf17832.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a5cf47524c66470aa7434ac61cdb58f2.html" target="element"> Data Visualization Service </a> </td>
											    <td> <a href="../elements/id-a5cf47524c66470aa7434ac61cdb58f2.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d881d4f5966d4969b6eea9c934ccb7ef.html" target="element"> Electronic Case Reporting System (eCR) </a> </td>
											    <td> <a href="../elements/id-d881d4f5966d4969b6eea9c934ccb7ef.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-9705a3ddf71d42649f66631e7572d19f.html" target="element"> Adverse Event Reporting System (AERS) </a> </td>
											    <td> <a href="../elements/id-9705a3ddf71d42649f66631e7572d19f.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-533f412177f94a04903d62a2fa8b95ca.html" target="element"> National Disease Surveillance Platform (NDSP) </a> </td>
											    <td> <a href="../elements/id-533f412177f94a04903d62a2fa8b95ca.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-dd87bd3684d64a9a865f09e8a5e6daf0.html" target="element"> Outbreak Response Management System (ORMS) </a> </td>
											    <td> <a href="../elements/id-dd87bd3684d64a9a865f09e8a5e6daf0.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-6570181f37f0440f82552b45f87e529f.html" target="element"> Analytics and AI Platform </a> </td>
											    <td> <a href="../elements/id-6570181f37f0440f82552b45f87e529f.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-3f2316ec107d46a89f2871d2d4ba8d21.html" target="element"> Interoperability Middleware </a> </td>
											    <td> <a href="../elements/id-3f2316ec107d46a89f2871d2d4ba8d21.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-faa8e8618b3f40b5b8d0d63ab1769aa8.html" target="element"> Citizen Alerting System </a> </td>
											    <td> <a href="../elements/id-faa8e8618b3f40b5b8d0d63ab1769aa8.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f49ca46488854076b5e481f93de34601.html" target="element"> Consent Management and Data Protection Infrastructure </a> </td>
											    <td> <a href="../elements/id-f49ca46488854076b5e481f93de34601.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-8d79d1312b7d49baa0b68c4605afff7b.html" target="element"> Terminology Server </a> </td>
											    <td> <a href="../elements/id-8d79d1312b7d49baa0b68c4605afff7b.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-93364d66007e470d9ee25a85b9c56b64.html" target="element"> Contact Tracing System </a> </td>
											    <td> <a href="../elements/id-93364d66007e470d9ee25a85b9c56b64.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-3fc94408cc4c4f599efaaf8065811fb5.html" target="element"> Client Registry </a> </td>
											    <td> <a href="../elements/id-3fc94408cc4c4f599efaaf8065811fb5.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-9625e5ae624149c9a324b4ba9bf8c3f7.html" target="element"> Health Worker Registry </a> </td>
											    <td> <a href="../elements/id-9625e5ae624149c9a324b4ba9bf8c3f7.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																	<tr>
																		<td> <a href="../elements/id-65efb5317bbf4c85ba85d3537a01dbea.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-65efb5317bbf4c85ba85d3537a01dbea.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-966c7de0bb0a4b2eba582d41106d8251.html" target="element"> Surveillance Outcomes </a> </td>
																		<td> <a href="../elements/id-be9ab1c91bd44cd79ff52be7f6fd1a43.html" target="element"> Increased accuracy and trust in surveillance data. </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-44ecf1b4c8d443f9a4c411a1e8db090d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-44ecf1b4c8d443f9a4c411a1e8db090d.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-966c7de0bb0a4b2eba582d41106d8251.html" target="element"> Surveillance Outcomes </a> </td>
																		<td> <a href="../elements/id-fe4fb69067304278abc56be8f8080625.html" target="element"> Strengthened population health research and preparedness. </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-dd49228f8981466c867a40ea6fc82a5b.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-dd49228f8981466c867a40ea6fc82a5b.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-be9ab1c91bd44cd79ff52be7f6fd1a43.html" target="element"> Increased accuracy and trust in surveillance data. </a> </td>
																				<td> <a href="../elements/id-7c6e21840f834a1f8fadb264c17db0be.html" target="element"> Surveillance Sub-goals </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-3f8334abfad04499856e29acc9024a36.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-3f8334abfad04499856e29acc9024a36.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-fe4fb69067304278abc56be8f8080625.html" target="element"> Strengthened population health research and preparedness. </a> </td>
																				<td> <a href="../elements/id-7c6e21840f834a1f8fadb264c17db0be.html" target="element"> Surveillance Sub-goals </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-111f00a6ac174d27af268befae4b3851.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-111f00a6ac174d27af268befae4b3851.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7c6e21840f834a1f8fadb264c17db0be.html" target="element"> Surveillance Sub-goals </a> </td>
																		<td> <a href="../elements/id-8979304a25d14e3289db3221f0ca9265.html" target="element"> Maximize secondary use of health data (for publich health research, and policy) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-6e2caaad83c54a14868530196db45417.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6e2caaad83c54a14868530196db45417.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7c6e21840f834a1f8fadb264c17db0be.html" target="element"> Surveillance Sub-goals </a> </td>
																		<td> <a href="../elements/id-1a27e740c27a438eb2893c87c183855e.html" target="element"> Enable timely reporting and coordinated response </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-1ab08f0de22141c4a97bbe3faa73b07f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1ab08f0de22141c4a97bbe3faa73b07f.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7c6e21840f834a1f8fadb264c17db0be.html" target="element"> Surveillance Sub-goals </a> </td>
																		<td> <a href="../elements/id-763f312c13d14afbac767a1056103f62.html" target="element"> Strengthen adverse event reporting (AER) and pharmacovigilance </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-1040c7deb1244683a64008c6ee8c9ef0.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-1040c7deb1244683a64008c6ee8c9ef0.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-1a27e740c27a438eb2893c87c183855e.html" target="element"> Enable timely reporting and coordinated response </a> </td>
																				<td> <a href="../elements/id-f172220480134b3d956cddfcfda14302.html" target="element"> Digitally strengthen public health surveillance and response systems, adverse event reporting, and maximize appropriate secondary use of data for public health purposes.  </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-aa9926e8cb6d441999188659f054aeb1.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-aa9926e8cb6d441999188659f054aeb1.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-763f312c13d14afbac767a1056103f62.html" target="element"> Strengthen adverse event reporting (AER) and pharmacovigilance </a> </td>
																				<td> <a href="../elements/id-f172220480134b3d956cddfcfda14302.html" target="element"> Digitally strengthen public health surveillance and response systems, adverse event reporting, and maximize appropriate secondary use of data for public health purposes.  </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-1a8e5ba2d859459f87cc8ece60d12f93.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-1a8e5ba2d859459f87cc8ece60d12f93.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-8979304a25d14e3289db3221f0ca9265.html" target="element"> Maximize secondary use of health data (for publich health research, and policy) </a> </td>
																				<td> <a href="../elements/id-f172220480134b3d956cddfcfda14302.html" target="element"> Digitally strengthen public health surveillance and response systems, adverse event reporting, and maximize appropriate secondary use of data for public health purposes.  </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-f46fbb2d3134478ba840f4bf2b6bce2d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f46fbb2d3134478ba840f4bf2b6bce2d.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d0f32d6775ed4ca5beb44484778286b1.html" target="element"> Detect and assess public health threats early </a> </td>
																		<td> <a href="../elements/id-f172220480134b3d956cddfcfda14302.html" target="element"> Digitally strengthen public health surveillance and response systems, adverse event reporting, and maximize appropriate secondary use of data for public health purposes.  </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-86ea9ec5b8e34678991bca2915a316bf.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-86ea9ec5b8e34678991bca2915a316bf.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1f023ed31ab44aebb836a29b68a6d71c.html" target="element"> Faster outbreak detection and reduced public health risk. </a> </td>
																		<td> <a href="../elements/id-7c6e21840f834a1f8fadb264c17db0be.html" target="element"> Surveillance Sub-goals </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-08b2f32213b44ec4b01fd50da828f60e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-08b2f32213b44ec4b01fd50da828f60e.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-aca744c82f504bd1b825e022d1f802fa.html" target="element"> 1.0 Event Detection and Case Notification </a> </td>
																		<td> <a href="../elements/id-966c7de0bb0a4b2eba582d41106d8251.html" target="element"> Surveillance Outcomes </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-bb458275b6bb4fd79c33b52fd2380855.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-bb458275b6bb4fd79c33b52fd2380855.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2de9e54001c44104861267249b58d7cd.html" target="element"> 2.0 Adverse Event Reporting and Safety Signals </a> </td>
																		<td> <a href="../elements/id-966c7de0bb0a4b2eba582d41106d8251.html" target="element"> Surveillance Outcomes </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-93e29cf6e4cd431da2429d4e6c1a4126.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-93e29cf6e4cd431da2429d4e6c1a4126.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-64b9c6fb959747abacb0b5274cd69664.html" target="element"> 3.0 Risk Assessment and Intelligence </a> </td>
																		<td> <a href="../elements/id-966c7de0bb0a4b2eba582d41106d8251.html" target="element"> Surveillance Outcomes </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-1c7d3ff5a5bb435fb0ff6962f72af183.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1c7d3ff5a5bb435fb0ff6962f72af183.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-84b9b9ae24674fee9b507734a6938b05.html" target="element"> 4.0 Coordinated Response Management </a> </td>
																		<td> <a href="../elements/id-966c7de0bb0a4b2eba582d41106d8251.html" target="element"> Surveillance Outcomes </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-4936280581f94b079d3f06c9a1c3a03a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4936280581f94b079d3f06c9a1c3a03a.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2ce652c884194e4fa1b28d21ab8c21d9.html" target="element"> 5.0 Data Sharing and Interoperability </a> </td>
																		<td> <a href="../elements/id-966c7de0bb0a4b2eba582d41106d8251.html" target="element"> Surveillance Outcomes </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-ad78e98101174e14b4f30e02713283f9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ad78e98101174e14b4f30e02713283f9.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-14d069ea9e684373b34720d0aa2cb8eb.html" target="element"> 6.0 Data Governance and Privacy </a> </td>
																		<td> <a href="../elements/id-966c7de0bb0a4b2eba582d41106d8251.html" target="element"> Surveillance Outcomes </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-3d6b533597ae40b3a63a13413f8c48d4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3d6b533597ae40b3a63a13413f8c48d4.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-43eecfa3dfd2462eb07e034d1f20fc63.html" target="element"> 7.0 Knowledge Dissemination and Alerts  </a> </td>
																		<td> <a href="../elements/id-966c7de0bb0a4b2eba582d41106d8251.html" target="element"> Surveillance Outcomes </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-e99cd40f69a84783b327572b5864e56c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e99cd40f69a84783b327572b5864e56c.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ba8950863a20479bbfc32fabfef5341f.html" target="element"> Case and Event Reporting Service </a> </td>
																		<td> <a href="../elements/id-aca744c82f504bd1b825e022d1f802fa.html" target="element"> 1.0 Event Detection and Case Notification </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-63b1f7bf097e41d895d9847ab21be219.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-63b1f7bf097e41d895d9847ab21be219.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6ea9310195a14d27937f219802f378de.html" target="element"> Adverse Event Reporting Service </a> </td>
																		<td> <a href="../elements/id-2de9e54001c44104861267249b58d7cd.html" target="element"> 2.0 Adverse Event Reporting and Safety Signals </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-3a5cbf7f8adf4427aae51e7e2c7b87a1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3a5cbf7f8adf4427aae51e7e2c7b87a1.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f505f4e1766c4611aa719194917e699a.html" target="element"> Analytics and Risk Assessment Service </a> </td>
																		<td> <a href="../elements/id-64b9c6fb959747abacb0b5274cd69664.html" target="element"> 3.0 Risk Assessment and Intelligence </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-fa875dc2ef2842edb8276956f52d6f43.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-fa875dc2ef2842edb8276956f52d6f43.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-80a2d37d2f8947c6b0b30ec7858fd3aa.html" target="element"> Alerting and Notification Service </a> </td>
																		<td> <a href="../elements/id-84b9b9ae24674fee9b507734a6938b05.html" target="element"> 4.0 Coordinated Response Management </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-1ea3dff3e0ef4ad8aaeb290acfb176d6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1ea3dff3e0ef4ad8aaeb290acfb176d6.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ed54ddd2eef44e7eb556839b6302dc1c.html" target="element"> Interoperability Gateway Service </a> </td>
																		<td> <a href="../elements/id-2ce652c884194e4fa1b28d21ab8c21d9.html" target="element"> 5.0 Data Sharing and Interoperability </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-618a911b870c4addb38a67ddad7043fc.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-618a911b870c4addb38a67ddad7043fc.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3f8d0409de9c4f5091ca7c0e4bf17832.html" target="element"> Consent and Data Governance Service </a> </td>
																		<td> <a href="../elements/id-14d069ea9e684373b34720d0aa2cb8eb.html" target="element"> 6.0 Data Governance and Privacy </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-8f0b8e49a85244da8e1ab1badd891155.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8f0b8e49a85244da8e1ab1badd891155.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a5cf47524c66470aa7434ac61cdb58f2.html" target="element"> Data Visualization Service </a> </td>
																		<td> <a href="../elements/id-43eecfa3dfd2462eb07e034d1f20fc63.html" target="element"> 7.0 Knowledge Dissemination and Alerts  </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-632fe00f53d84594b8824709ca5c4a4e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-632fe00f53d84594b8824709ca5c4a4e.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d881d4f5966d4969b6eea9c934ccb7ef.html" target="element"> Electronic Case Reporting System (eCR) </a> </td>
																		<td> <a href="../elements/id-ba8950863a20479bbfc32fabfef5341f.html" target="element"> Case and Event Reporting Service </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-cf8aa9b7401d43c0a61c67f8e83231c8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cf8aa9b7401d43c0a61c67f8e83231c8.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9705a3ddf71d42649f66631e7572d19f.html" target="element"> Adverse Event Reporting System (AERS) </a> </td>
																		<td> <a href="../elements/id-6ea9310195a14d27937f219802f378de.html" target="element"> Adverse Event Reporting Service </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-b52b0a77772545309ec2a00e30851ae4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b52b0a77772545309ec2a00e30851ae4.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-533f412177f94a04903d62a2fa8b95ca.html" target="element"> National Disease Surveillance Platform (NDSP) </a> </td>
																		<td> <a href="../elements/id-f505f4e1766c4611aa719194917e699a.html" target="element"> Analytics and Risk Assessment Service </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-84ceb50f9d70448daeec6894f504b079.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-84ceb50f9d70448daeec6894f504b079.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-dd87bd3684d64a9a865f09e8a5e6daf0.html" target="element"> Outbreak Response Management System (ORMS) </a> </td>
																		<td> <a href="../elements/id-80a2d37d2f8947c6b0b30ec7858fd3aa.html" target="element"> Alerting and Notification Service </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-50a2d9c1102b4c399cc43caf38412c66.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-50a2d9c1102b4c399cc43caf38412c66.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3f2316ec107d46a89f2871d2d4ba8d21.html" target="element"> Interoperability Middleware </a> </td>
																		<td> <a href="../elements/id-ed54ddd2eef44e7eb556839b6302dc1c.html" target="element"> Interoperability Gateway Service </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>