<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Sub-goal #4 Stakeholder & Motivational Viewpoint</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.4.1.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Sub-goal #4 Stakeholder &amp; Motivational Viewpoint</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-5ad85737213346c09881249854d3595a.png" alt="Sub-goal #4 Stakeholder & Motivational Viewpoint" usemap="#id-5ad85737213346c09881249854d3595amap"/>
			   <map name="id-5ad85737213346c09881249854d3595amap">
				  		<area shape="rect" coords="10,382,860,437" href="../elements/id-5d08d26296e348738e96844234885427.html"  target="element">
				  				<area shape="rect" coords="46,166,251,221" href="../elements/id-2e983c9c4fcb4fbfae8eef842f52054d.html"  target="element">
				  				<area shape="rect" coords="346,166,528,221" href="../elements/id-58a28b9fc66d49039949677e20d05720.html"  target="element">
				  				<area shape="rect" coords="202,286,393,341" href="../elements/id-9b7a721986d241a684848709c622cfa6.html"  target="element">
				  				<area shape="rect" coords="610,166,767,221" href="../elements/id-3c08944571c6477387ac2366fddbc0a9.html"  target="element">
				  				<area shape="rect" coords="629,46,749,101" href="../elements/id-5ba453e9b5a146f197452a86bce5a188.html"  target="element">
				  				<area shape="rect" coords="377,46,497,101" href="../elements/id-12d831df14a3494b88e6195d8c6d1912.html"  target="element">
				  				<area shape="rect" coords="593,286,784,341" href="../elements/id-bff55252392944f79f5b46a825ea3621.html"  target="element">
				  				<area shape="rect" coords="89,46,209,101" href="../elements/id-fbcea34e7cf046b385667e78c89bd2c7.html"  target="element">

				          <area shape="rect" coords="10,10,860,359" href="../objects/id-d1fba538ab824fca9457ec3caaeffc9f.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

                    <!-- Analysis -->

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
					<div role="tabpanel" class="tab-pane" id="analysis">
						<table class="table table-striped table-hover table-condensed" id="used-in-views">
							<thead>
								<tr><th colspan="2" class="i18n-used-in-views" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-viewpoint"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
						<table class="table table-striped table-hover table-condensed" id="model-relations">
							<thead>
								<tr><th colspan="4" class="i18n-model-relations" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-type"></th>
									<th class="i18n-source"></th>
									<th class="i18n-target"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/id-d1fba538ab824fca9457ec3caaeffc9f.html" target="element"> Health Workforce Motivational  </a> </td>
									           <td> <a href="../objects/id-d1fba538ab824fca9457ec3caaeffc9f.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/id-fbcea34e7cf046b385667e78c89bd2c7.html" target="element"> Health Worker </a> </td>
													    <td> <a href="../elements/id-fbcea34e7cf046b385667e78c89bd2c7.html" target="element" class="i18n-elementtype-Stakeholder">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-bff55252392944f79f5b46a825ea3621.html" target="element"> Reduced Duplication </a> </td>
													    <td> <a href="../elements/id-bff55252392944f79f5b46a825ea3621.html" target="element" class="i18n-elementtype-Outcome">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-12d831df14a3494b88e6195d8c6d1912.html" target="element"> Facility </a> </td>
													    <td> <a href="../elements/id-12d831df14a3494b88e6195d8c6d1912.html" target="element" class="i18n-elementtype-Stakeholder">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-5ba453e9b5a146f197452a86bce5a188.html" target="element"> International Agencies </a> </td>
													    <td> <a href="../elements/id-5ba453e9b5a146f197452a86bce5a188.html" target="element" class="i18n-elementtype-Stakeholder">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-3c08944571c6477387ac2366fddbc0a9.html" target="element"> Surveillance </a> </td>
													    <td> <a href="../elements/id-3c08944571c6477387ac2366fddbc0a9.html" target="element" class="i18n-elementtype-Value">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-9b7a721986d241a684848709c622cfa6.html" target="element"> Improved Care Coordination </a> </td>
													    <td> <a href="../elements/id-9b7a721986d241a684848709c622cfa6.html" target="element" class="i18n-elementtype-Outcome">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-58a28b9fc66d49039949677e20d05720.html" target="element"> Operational Efficiency </a> </td>
													    <td> <a href="../elements/id-58a28b9fc66d49039949677e20d05720.html" target="element" class="i18n-elementtype-Value">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-2e983c9c4fcb4fbfae8eef842f52054d.html" target="element"> Access to Patient Data </a> </td>
													    <td> <a href="../elements/id-2e983c9c4fcb4fbfae8eef842f52054d.html" target="element" class="i18n-elementtype-Value">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-5d08d26296e348738e96844234885427.html" target="element"> Support interoperability across providers, facilities, and jurisdictions </a> </td>
											    <td> <a href="../elements/id-5d08d26296e348738e96844234885427.html" target="element" class="i18n-elementtype-Goal">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="../elements/id-0dd15d97b16746b4b3378b2582fd3484.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-0dd15d97b16746b4b3378b2582fd3484.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-fbcea34e7cf046b385667e78c89bd2c7.html" target="element"> Health Worker </a> </td>
																				<td> <a href="../elements/id-2e983c9c4fcb4fbfae8eef842f52054d.html" target="element"> Access to Patient Data </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-cd2a417fe69b40ae881c7ba7d001cbc6.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-cd2a417fe69b40ae881c7ba7d001cbc6.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-bff55252392944f79f5b46a825ea3621.html" target="element"> Reduced Duplication </a> </td>
																				<td> <a href="../elements/id-5d08d26296e348738e96844234885427.html" target="element"> Support interoperability across providers, facilities, and jurisdictions </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-fe844957984d47c8bda222fe3fe96b14.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-fe844957984d47c8bda222fe3fe96b14.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-12d831df14a3494b88e6195d8c6d1912.html" target="element"> Facility </a> </td>
																				<td> <a href="../elements/id-58a28b9fc66d49039949677e20d05720.html" target="element"> Operational Efficiency </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-e98db11e98df4102a42a5f3afa45ff70.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-e98db11e98df4102a42a5f3afa45ff70.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-5ba453e9b5a146f197452a86bce5a188.html" target="element"> International Agencies </a> </td>
																				<td> <a href="../elements/id-3c08944571c6477387ac2366fddbc0a9.html" target="element"> Surveillance </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-65b62fff8d48440eb7392d75af70db7c.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-65b62fff8d48440eb7392d75af70db7c.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-3c08944571c6477387ac2366fddbc0a9.html" target="element"> Surveillance </a> </td>
																				<td> <a href="../elements/id-bff55252392944f79f5b46a825ea3621.html" target="element"> Reduced Duplication </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-42e8920e05474120ac0e036fd32ee9ed.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-42e8920e05474120ac0e036fd32ee9ed.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-9b7a721986d241a684848709c622cfa6.html" target="element"> Improved Care Coordination </a> </td>
																				<td> <a href="../elements/id-5d08d26296e348738e96844234885427.html" target="element"> Support interoperability across providers, facilities, and jurisdictions </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-16eb63c0951c4e3baac7522dfd95ffc4.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-16eb63c0951c4e3baac7522dfd95ffc4.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-58a28b9fc66d49039949677e20d05720.html" target="element"> Operational Efficiency </a> </td>
																				<td> <a href="../elements/id-9b7a721986d241a684848709c622cfa6.html" target="element"> Improved Care Coordination </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-22e725fb2fce473796aa0a9d6a4d2661.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-22e725fb2fce473796aa0a9d6a4d2661.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-2e983c9c4fcb4fbfae8eef842f52054d.html" target="element"> Access to Patient Data </a> </td>
																				<td> <a href="../elements/id-9b7a721986d241a684848709c622cfa6.html" target="element"> Improved Care Coordination </a> </td>
																			</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>