<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Business Process to Capability Mapping</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.4.1.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Business Process to Capability Mapping</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-6ba8a66a5d9847ed8cd866f414bb9395.png" alt="Business Process to Capability Mapping" usemap="#id-6ba8a66a5d9847ed8cd866f414bb9395map"/>
			   <map name="id-6ba8a66a5d9847ed8cd866f414bb9395map">
				  		<area shape="rect" coords="1380,494,1554,549" href="../elements/id-ad19bb1a1481429fa5f772661c093dd2.html"  target="element">
				  		<area shape="rect" coords="1380,424,1554,479" href="../elements/id-24319c02054549bea6203f6197bb5ce1.html"  target="element">
				  				<area shape="rect" coords="1377,359,1551,383" href="../elements/id-c9fe4a7f8e95434589ba8a3675613ba9.html"  target="element">
				  				<area shape="rect" coords="1377,323,1551,347" href="../elements/id-8133ce53b9374c08afdf73cb8c688cdb.html"  target="element">
				  				<area shape="rect" coords="1377,275,1551,311" href="../elements/id-a6c76e056e504be6a74b3ea07745d2f0.html"  target="element">
				  				<area shape="rect" coords="1377,239,1551,263" href="../elements/id-6b9bdb147b9b43119367921d26c22f01.html"  target="element">

				  		<area shape="rect" coords="1365,191,1569,400" href="../elements/id-85caaee5dcac48c387fce44b71296046.html"  target="element">
				  		<area shape="rect" coords="1152,460,1326,515" href="../elements/id-f26f6b68b1504313942ae5b0accfcc0d.html"  target="element">
				  		<area shape="rect" coords="1152,394,1326,449" href="../elements/id-7685e8241cbc40dc87a6b51494f56860.html"  target="element">
				  				<area shape="rect" coords="1149,311,1323,347" href="../elements/id-d2debcd3f1214045ba02ea1fd12422bf.html"  target="element">
				  				<area shape="rect" coords="1149,275,1323,299" href="../elements/id-b2b0c34376db47e5bb95cf778c6c6060.html"  target="element">
				  				<area shape="rect" coords="1149,239,1323,263" href="../elements/id-8be12407955b4aff93332b08abad3cd3.html"  target="element">

				  		<area shape="rect" coords="1137,191,1341,364" href="../elements/id-4abe42a3971f443cb9b6e4d790f53435.html"  target="element">
				  		<area shape="rect" coords="707,460,881,515" href="../elements/id-f656e009234244faa6bd777cbc7939ed.html"  target="element">
				  		<area shape="rect" coords="707,394,881,449" href="../elements/id-d506745798bd403db318dab8ecfc2af1.html"  target="element">
				  				<area shape="rect" coords="253,670,435,707" href="../elements/id-99f0bf62371a4ae9a780fe1619fc7c23.html"  target="element">
				  				<area shape="rect" coords="253,634,435,659" href="../elements/id-b7920194a9c2477984096758eba9ce56.html"  target="element">
				  				<area shape="rect" coords="253,598,435,623" href="../elements/id-f917b8f7b57544cc8e2a16b643fd3491.html"  target="element">
				  				<area shape="rect" coords="253,562,435,587" href="../elements/id-4e751104e0bd41a0bcf42dcd2ed62aac.html"  target="element">
				  				<area shape="rect" coords="253,526,435,551" href="../elements/id-ce90833cc39d4c178a653d154fcf8e68.html"  target="element">

				  		<area shape="rect" coords="241,478,447,723" href="../elements/id-e39b3f56ea5a432ca37ea81b1f22cbe1.html"  target="element">
				  		<area shape="rect" coords="1370,66,1563,143" href="../elements/id-073caf12eef64ec4911cbcd7a6ff765b.html"  target="element">
				  		<area shape="rect" coords="1146,66,1339,143" href="../elements/id-42235973c41c404bb12ab719d06320dd.html"  target="element">
				  		<area shape="rect" coords="931,398,1105,453" href="../elements/id-e86edf3496044c569cbd2b32389c8889.html"  target="element">
				  				<area shape="rect" coords="928,334,1102,370" href="../elements/id-abdb5f5d26664a63bc00b13e35adc312.html"  target="element">
				  				<area shape="rect" coords="928,286,1102,322" href="../elements/id-6145937b55794d4c9abadd02d31ef137.html"  target="element">
				  				<area shape="rect" coords="928,238,1102,274" href="../elements/id-ebbd0f4e34dd431784a96c41f72f61dd.html"  target="element">

				  		<area shape="rect" coords="916,190,1120,387" href="../elements/id-ef16f11d7e48429f905369b63dfc33aa.html"  target="element">
				  		<area shape="rect" coords="27,478,201,533" href="../elements/id-10042981b1c6484fb0d46189e0795c31.html"  target="element">
				  		<area shape="rect" coords="27,406,201,461" href="../elements/id-9add63b69c4d4683a038a43426c70e0b.html"  target="element">
				  		<area shape="rect" coords="921,66,1114,143" href="../elements/id-9e98c8a7da4749d2864bbd2a82268e83.html"  target="element">
				  				<area shape="rect" coords="705,322,879,358" href="../elements/id-ba52cbe8b5f0499fa809ddb3365496c7.html"  target="element">
				  				<area shape="rect" coords="705,274,879,310" href="../elements/id-e381d9cb65cf4961953827bcf782a290.html"  target="element">
				  				<area shape="rect" coords="705,238,879,262" href="../elements/id-5225eb223fe84d19bfdce7d6c0bf4aed.html"  target="element">

				  		<area shape="rect" coords="693,190,897,371" href="../elements/id-cb0995996d644bba9d7b25d258eb5748.html"  target="element">
				  				<area shape="rect" coords="483,322,657,359" href="../elements/id-7f576247608a409a88b34c541b9895f3.html"  target="element">
				  				<area shape="rect" coords="483,286,657,311" href="../elements/id-bfa0362731164d91a5fdf499a392806f.html"  target="element">
				  				<area shape="rect" coords="483,238,657,275" href="../elements/id-1cccb1ae6c11417788d84c99fca99bb9.html"  target="element">

				  		<area shape="rect" coords="469,190,679,371" href="../elements/id-e2db1436e47447169d2b9922a7f19547.html"  target="element">
				  				<area shape="rect" coords="26,334,197,371" href="../elements/id-7f73911736644bfcbca7b5a106bb68f5.html"  target="element">
				  				<area shape="rect" coords="26,286,197,323" href="../elements/id-1895b0f4249047ff817add85d06f84c8.html"  target="element">
				  				<area shape="rect" coords="26,238,197,275" href="../elements/id-ec0ab80b1fa44007ae70ffdb0e8e7c99.html"  target="element">

				  		<area shape="rect" coords="11,190,216,389" href="../elements/id-e6089e57c041477cabb1ce5b7d2f334f.html"  target="element">
				  		<area shape="rect" coords="487,460,661,515" href="../elements/id-99fe73b4a7034182ba6c7629f3c16f08.html"  target="element">
				  		<area shape="rect" coords="487,394,661,449" href="../elements/id-d8188e00322c485188c7de4ddd4f968e.html"  target="element">
				  				<area shape="rect" coords="253,422,435,459" href="../elements/id-00b902f19edc4810b7a827707dd941bc.html"  target="element">
				  				<area shape="rect" coords="253,374,435,411" href="../elements/id-eddc7ef6529e424b8bc43075b2a4e0f7.html"  target="element">

				  		<area shape="rect" coords="241,338,447,465" href="../elements/id-8c5a6c7e66da4b10936e62d3235683dc.html"  target="element">
				  				<area shape="rect" coords="253,286,435,311" href="../elements/id-f9834d2a3a1441899adbd76eba9f4a09.html"  target="element">
				  				<area shape="rect" coords="253,238,434,275" href="../elements/id-2882f559f4754d178e1596361c25139d.html"  target="element">

				  		<area shape="rect" coords="241,190,447,327" href="../elements/id-4bccca21e85d438693013982e0e5c634.html"  target="element">
				  		<area shape="rect" coords="693,66,887,143" href="../elements/id-b7d09b24e45549f19500f3ac46d45cd8.html"  target="element">
				  		<area shape="rect" coords="469,66,663,143" href="../elements/id-71edfe145d0b4330915f853c28e4498e.html"  target="element">
				  		<area shape="rect" coords="241,66,435,143" href="../elements/id-7ff62c4f0291485cbb122e29f0d8da2f.html"  target="element">
				          <area shape="rect" coords="10,10,435,47" href="../objects/id-76fa1df26dbc492295352d776ab684db.html" target="element" >
				  		<area shape="rect" coords="17,66,211,143" href="../elements/id-1063e86fbba34ac499533e39a3ed620b.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

                    <!-- Analysis -->

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
					<div role="tabpanel" class="tab-pane" id="analysis">
						<table class="table table-striped table-hover table-condensed" id="used-in-views">
							<thead>
								<tr><th colspan="2" class="i18n-used-in-views" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-viewpoint"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
						<table class="table table-striped table-hover table-condensed" id="model-relations">
							<thead>
								<tr><th colspan="4" class="i18n-model-relations" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-type"></th>
									<th class="i18n-source"></th>
									<th class="i18n-target"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-1063e86fbba34ac499533e39a3ed620b.html" target="element"> Financial Planning &amp; Budgeting </a> </td>
											    <td> <a href="../elements/id-1063e86fbba34ac499533e39a3ed620b.html" target="element" class="i18n-elementtype-ValueStream">
											    </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-76fa1df26dbc492295352d776ab684db.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-76fa1df26dbc492295352d776ab684db.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-7ff62c4f0291485cbb122e29f0d8da2f.html" target="element"> Strategic Purchasing &amp; Provider Payment </a> </td>
											    <td> <a href="../elements/id-7ff62c4f0291485cbb122e29f0d8da2f.html" target="element" class="i18n-elementtype-ValueStream">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-71edfe145d0b4330915f853c28e4498e.html" target="element"> Member Protection &amp; Entitlement Management </a> </td>
											    <td> <a href="../elements/id-71edfe145d0b4330915f853c28e4498e.html" target="element" class="i18n-elementtype-ValueStream">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b7d09b24e45549f19500f3ac46d45cd8.html" target="element"> Transparency &amp; Accountability </a> </td>
											    <td> <a href="../elements/id-b7d09b24e45549f19500f3ac46d45cd8.html" target="element" class="i18n-elementtype-ValueStream">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4bccca21e85d438693013982e0e5c634.html" target="element"> Health Purchasing &amp; Payment Management </a> </td>
											    <td> <a href="../elements/id-4bccca21e85d438693013982e0e5c634.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-2882f559f4754d178e1596361c25139d.html" target="element"> Onboard Provider </a> </td>
													    <td> <a href="../elements/id-2882f559f4754d178e1596361c25139d.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-f9834d2a3a1441899adbd76eba9f4a09.html" target="element"> Validate Provider Credentials </a> </td>
													    <td> <a href="../elements/id-f9834d2a3a1441899adbd76eba9f4a09.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-8c5a6c7e66da4b10936e62d3235683dc.html" target="element"> Contracting &amp; Tariff Management </a> </td>
											    <td> <a href="../elements/id-8c5a6c7e66da4b10936e62d3235683dc.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-eddc7ef6529e424b8bc43075b2a4e0f7.html" target="element"> Define Contract &amp; Tariff </a> </td>
													    <td> <a href="../elements/id-eddc7ef6529e424b8bc43075b2a4e0f7.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-00b902f19edc4810b7a827707dd941bc.html" target="element"> Version Contract &amp; Tariff </a> </td>
													    <td> <a href="../elements/id-00b902f19edc4810b7a827707dd941bc.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-d8188e00322c485188c7de4ddd4f968e.html" target="element"> Eligibility &amp; Entitlement Management </a> </td>
											    <td> <a href="../elements/id-d8188e00322c485188c7de4ddd4f968e.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-99fe73b4a7034182ba6c7629f3c16f08.html" target="element"> Consent &amp; Privacy Governance </a> </td>
											    <td> <a href="../elements/id-99fe73b4a7034182ba6c7629f3c16f08.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e6089e57c041477cabb1ce5b7d2f334f.html" target="element"> Unified Health Accounts Management </a> </td>
											    <td> <a href="../elements/id-e6089e57c041477cabb1ce5b7d2f334f.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-ec0ab80b1fa44007ae70ffdb0e8e7c99.html" target="element"> Aggregate Financial Data </a> </td>
													    <td> <a href="../elements/id-ec0ab80b1fa44007ae70ffdb0e8e7c99.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-1895b0f4249047ff817add85d06f84c8.html" target="element"> Normalize &amp; Classify Financial Data </a> </td>
													    <td> <a href="../elements/id-1895b0f4249047ff817add85d06f84c8.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-7f73911736644bfcbca7b5a106bb68f5.html" target="element"> Maintain Financial Master Data </a> </td>
													    <td> <a href="../elements/id-7f73911736644bfcbca7b5a106bb68f5.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-e2db1436e47447169d2b9922a7f19547.html" target="element"> Insurance Enrollment Management </a> </td>
											    <td> <a href="../elements/id-e2db1436e47447169d2b9922a7f19547.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-1cccb1ae6c11417788d84c99fca99bb9.html" target="element"> Discover Insurance Scheme </a> </td>
													    <td> <a href="../elements/id-1cccb1ae6c11417788d84c99fca99bb9.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-bfa0362731164d91a5fdf499a392806f.html" target="element"> Enroll Member </a> </td>
													    <td> <a href="../elements/id-bfa0362731164d91a5fdf499a392806f.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-7f576247608a409a88b34c541b9895f3.html" target="element"> Maintain Policy &amp; Entitlements </a> </td>
													    <td> <a href="../elements/id-7f576247608a409a88b34c541b9895f3.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-cb0995996d644bba9d7b25d258eb5748.html" target="element"> Audit &amp; Non-Repudiation Management </a> </td>
											    <td> <a href="../elements/id-cb0995996d644bba9d7b25d258eb5748.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-5225eb223fe84d19bfdce7d6c0bf4aed.html" target="element"> Log Financial Event </a> </td>
													    <td> <a href="../elements/id-5225eb223fe84d19bfdce7d6c0bf4aed.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-e381d9cb65cf4961953827bcf782a290.html" target="element">  Digitally Sign Transaction </a> </td>
													    <td> <a href="../elements/id-e381d9cb65cf4961953827bcf782a290.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-ba52cbe8b5f0499fa809ddb3365496c7.html" target="element"> Timestamp Financial Record </a> </td>
													    <td> <a href="../elements/id-ba52cbe8b5f0499fa809ddb3365496c7.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-9e98c8a7da4749d2864bbd2a82268e83.html" target="element"> Financial Data Exchange &amp; Reconciliation </a> </td>
											    <td> <a href="../elements/id-9e98c8a7da4749d2864bbd2a82268e83.html" target="element" class="i18n-elementtype-ValueStream">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-9add63b69c4d4683a038a43426c70e0b.html" target="element"> Budget Planning &amp; Forecasting </a> </td>
											    <td> <a href="../elements/id-9add63b69c4d4683a038a43426c70e0b.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-10042981b1c6484fb0d46189e0795c31.html" target="element"> Financial Analytics &amp; Business Intelligence </a> </td>
											    <td> <a href="../elements/id-10042981b1c6484fb0d46189e0795c31.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ef16f11d7e48429f905369b63dfc33aa.html" target="element"> Financial&#8211;Clinical Data Matching </a> </td>
											    <td> <a href="../elements/id-ef16f11d7e48429f905369b63dfc33aa.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-ebbd0f4e34dd431784a96c41f72f61dd.html" target="element"> Exchange Financial Data via API </a> </td>
													    <td> <a href="../elements/id-ebbd0f4e34dd431784a96c41f72f61dd.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-6145937b55794d4c9abadd02d31ef137.html" target="element"> Map Clinical &amp; Financial Codes </a> </td>
													    <td> <a href="../elements/id-6145937b55794d4c9abadd02d31ef137.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-abdb5f5d26664a63bc00b13e35adc312.html" target="element"> Match Payment to Service Record </a> </td>
													    <td> <a href="../elements/id-abdb5f5d26664a63bc00b13e35adc312.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-e86edf3496044c569cbd2b32389c8889.html" target="element"> Interoperability &amp; Data Exchange </a> </td>
											    <td> <a href="../elements/id-e86edf3496044c569cbd2b32389c8889.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-42235973c41c404bb12ab719d06320dd.html" target="element"> Financial Safeguards &amp; Risk Management </a> </td>
											    <td> <a href="../elements/id-42235973c41c404bb12ab719d06320dd.html" target="element" class="i18n-elementtype-ValueStream">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-073caf12eef64ec4911cbcd7a6ff765b.html" target="element"> Operational Efficiency &amp; Process Optimization </a> </td>
											    <td> <a href="../elements/id-073caf12eef64ec4911cbcd7a6ff765b.html" target="element" class="i18n-elementtype-ValueStream">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e39b3f56ea5a432ca37ea81b1f22cbe1.html" target="element"> Claims Adjudication Management </a> </td>
											    <td> <a href="../elements/id-e39b3f56ea5a432ca37ea81b1f22cbe1.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-ce90833cc39d4c178a653d154fcf8e68.html" target="element"> Intake Claim Submission </a> </td>
													    <td> <a href="../elements/id-ce90833cc39d4c178a653d154fcf8e68.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-4e751104e0bd41a0bcf42dcd2ed62aac.html" target="element"> Validate Claim </a> </td>
													    <td> <a href="../elements/id-4e751104e0bd41a0bcf42dcd2ed62aac.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-f917b8f7b57544cc8e2a16b643fd3491.html" target="element"> Adjudicate Claim </a> </td>
													    <td> <a href="../elements/id-f917b8f7b57544cc8e2a16b643fd3491.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-b7920194a9c2477984096758eba9ce56.html" target="element"> Disburse Payment </a> </td>
													    <td> <a href="../elements/id-b7920194a9c2477984096758eba9ce56.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-99f0bf62371a4ae9a780fe1619fc7c23.html" target="element"> Generate Provider Statement </a> </td>
													    <td> <a href="../elements/id-99f0bf62371a4ae9a780fe1619fc7c23.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-d506745798bd403db318dab8ecfc2af1.html" target="element"> Compliance Monitoring </a> </td>
											    <td> <a href="../elements/id-d506745798bd403db318dab8ecfc2af1.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f656e009234244faa6bd777cbc7939ed.html" target="element"> Public Reporting &amp; Disclosure </a> </td>
											    <td> <a href="../elements/id-f656e009234244faa6bd777cbc7939ed.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4abe42a3971f443cb9b6e4d790f53435.html" target="element"> Identity &amp; Access Management </a> </td>
											    <td> <a href="../elements/id-4abe42a3971f443cb9b6e4d790f53435.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-8be12407955b4aff93332b08abad3cd3.html" target="element"> Authenticate User </a> </td>
													    <td> <a href="../elements/id-8be12407955b4aff93332b08abad3cd3.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-b2b0c34376db47e5bb95cf778c6c6060.html" target="element"> Authorize Transaction </a> </td>
													    <td> <a href="../elements/id-b2b0c34376db47e5bb95cf778c6c6060.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-d2debcd3f1214045ba02ea1fd12422bf.html" target="element"> Digitally Sign Financial Event </a> </td>
													    <td> <a href="../elements/id-d2debcd3f1214045ba02ea1fd12422bf.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-7685e8241cbc40dc87a6b51494f56860.html" target="element"> Fraud Detection &amp; Prevention </a> </td>
											    <td> <a href="../elements/id-7685e8241cbc40dc87a6b51494f56860.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f26f6b68b1504313942ae5b0accfcc0d.html" target="element"> Security Operations &amp; Incident Response </a> </td>
											    <td> <a href="../elements/id-f26f6b68b1504313942ae5b0accfcc0d.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-85caaee5dcac48c387fce44b71296046.html" target="element"> Workflow &amp; Process Orchestration </a> </td>
											    <td> <a href="../elements/id-85caaee5dcac48c387fce44b71296046.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-6b9bdb147b9b43119367921d26c22f01.html" target="element"> Orchestrate Workflow </a> </td>
													    <td> <a href="../elements/id-6b9bdb147b9b43119367921d26c22f01.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-a6c76e056e504be6a74b3ea07745d2f0.html" target="element"> Execute Automated Task (RPA) </a> </td>
													    <td> <a href="../elements/id-a6c76e056e504be6a74b3ea07745d2f0.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-8133ce53b9374c08afdf73cb8c688cdb.html" target="element"> Route Task Queue </a> </td>
													    <td> <a href="../elements/id-8133ce53b9374c08afdf73cb8c688cdb.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-c9fe4a7f8e95434589ba8a3675613ba9.html" target="element"> Notify Stakeholders </a> </td>
													    <td> <a href="../elements/id-c9fe4a7f8e95434589ba8a3675613ba9.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-24319c02054549bea6203f6197bb5ce1.html" target="element"> Automation Management </a> </td>
											    <td> <a href="../elements/id-24319c02054549bea6203f6197bb5ce1.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ad19bb1a1481429fa5f772661c093dd2.html" target="element"> SLA &amp; Performance Management </a> </td>
											    <td> <a href="../elements/id-ad19bb1a1481429fa5f772661c093dd2.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-5754a4cfbb344403bd1d7f38b004a00d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5754a4cfbb344403bd1d7f38b004a00d.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1063e86fbba34ac499533e39a3ed620b.html" target="element"> Financial Planning &amp; Budgeting </a> </td>
																		<td> <a href="../elements/id-7ff62c4f0291485cbb122e29f0d8da2f.html" target="element"> Strategic Purchasing &amp; Provider Payment </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/id-539e511324f543cab0e3a5a243e8345d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-539e511324f543cab0e3a5a243e8345d.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7ff62c4f0291485cbb122e29f0d8da2f.html" target="element"> Strategic Purchasing &amp; Provider Payment </a> </td>
																		<td> <a href="../elements/id-71edfe145d0b4330915f853c28e4498e.html" target="element"> Member Protection &amp; Entitlement Management </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-2dc4c0b5e7d34b2782f2c6c057f14f65.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2dc4c0b5e7d34b2782f2c6c057f14f65.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-71edfe145d0b4330915f853c28e4498e.html" target="element"> Member Protection &amp; Entitlement Management </a> </td>
																		<td> <a href="../elements/id-b7d09b24e45549f19500f3ac46d45cd8.html" target="element"> Transparency &amp; Accountability </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-3a138ba79dc24380a771054f9418930b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3a138ba79dc24380a771054f9418930b.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b7d09b24e45549f19500f3ac46d45cd8.html" target="element"> Transparency &amp; Accountability </a> </td>
																		<td> <a href="../elements/id-9e98c8a7da4749d2864bbd2a82268e83.html" target="element"> Financial Data Exchange &amp; Reconciliation </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-d7a2932e61f4485a80bd2ead2bbec995.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d7a2932e61f4485a80bd2ead2bbec995.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4bccca21e85d438693013982e0e5c634.html" target="element"> Health Purchasing &amp; Payment Management </a> </td>
																		<td> <a href="../elements/id-2882f559f4754d178e1596361c25139d.html" target="element"> Onboard Provider </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-38eebae3f1cb469390f065ea635fc784.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-38eebae3f1cb469390f065ea635fc784.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8c5a6c7e66da4b10936e62d3235683dc.html" target="element"> Contracting &amp; Tariff Management </a> </td>
																		<td> <a href="../elements/id-00b902f19edc4810b7a827707dd941bc.html" target="element"> Version Contract &amp; Tariff </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-88e050108ae14c7fa0c7a9ddabda6b1e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-88e050108ae14c7fa0c7a9ddabda6b1e.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e6089e57c041477cabb1ce5b7d2f334f.html" target="element"> Unified Health Accounts Management </a> </td>
																		<td> <a href="../elements/id-ec0ab80b1fa44007ae70ffdb0e8e7c99.html" target="element"> Aggregate Financial Data </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-dbd5643687414c3795c548c1c0072217.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-dbd5643687414c3795c548c1c0072217.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e2db1436e47447169d2b9922a7f19547.html" target="element"> Insurance Enrollment Management </a> </td>
																		<td> <a href="../elements/id-7f576247608a409a88b34c541b9895f3.html" target="element"> Maintain Policy &amp; Entitlements </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ba5207d41f404a57b3c4045474e30f9d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ba5207d41f404a57b3c4045474e30f9d.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e2db1436e47447169d2b9922a7f19547.html" target="element"> Insurance Enrollment Management </a> </td>
																		<td> <a href="../elements/id-1cccb1ae6c11417788d84c99fca99bb9.html" target="element"> Discover Insurance Scheme </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-599751f8ba4a4d668f437a7f58bc61c0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-599751f8ba4a4d668f437a7f58bc61c0.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e2db1436e47447169d2b9922a7f19547.html" target="element"> Insurance Enrollment Management </a> </td>
																		<td> <a href="../elements/id-bfa0362731164d91a5fdf499a392806f.html" target="element"> Enroll Member </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-36143894858a4081a1c6266bbdd199c5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-36143894858a4081a1c6266bbdd199c5.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-cb0995996d644bba9d7b25d258eb5748.html" target="element"> Audit &amp; Non-Repudiation Management </a> </td>
																		<td> <a href="../elements/id-5225eb223fe84d19bfdce7d6c0bf4aed.html" target="element"> Log Financial Event </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-33bd4c1194fb4935a4ac5359920b09bc.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-33bd4c1194fb4935a4ac5359920b09bc.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-cb0995996d644bba9d7b25d258eb5748.html" target="element"> Audit &amp; Non-Repudiation Management </a> </td>
																		<td> <a href="../elements/id-e381d9cb65cf4961953827bcf782a290.html" target="element">  Digitally Sign Transaction </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-1c0b09589a8a4c2c89d764352651b525.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1c0b09589a8a4c2c89d764352651b525.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-cb0995996d644bba9d7b25d258eb5748.html" target="element"> Audit &amp; Non-Repudiation Management </a> </td>
																		<td> <a href="../elements/id-ba52cbe8b5f0499fa809ddb3365496c7.html" target="element"> Timestamp Financial Record </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-05f294d176b2461198ba5843f4e3eadd.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-05f294d176b2461198ba5843f4e3eadd.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9e98c8a7da4749d2864bbd2a82268e83.html" target="element"> Financial Data Exchange &amp; Reconciliation </a> </td>
																		<td> <a href="../elements/id-42235973c41c404bb12ab719d06320dd.html" target="element"> Financial Safeguards &amp; Risk Management </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-d7eb0be1fc5c42789eed5cab71e6c813.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d7eb0be1fc5c42789eed5cab71e6c813.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ef16f11d7e48429f905369b63dfc33aa.html" target="element"> Financial&#8211;Clinical Data Matching </a> </td>
																		<td> <a href="../elements/id-ebbd0f4e34dd431784a96c41f72f61dd.html" target="element"> Exchange Financial Data via API </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-cb6c49869f98493cbe13fb91447973e9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cb6c49869f98493cbe13fb91447973e9.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ef16f11d7e48429f905369b63dfc33aa.html" target="element"> Financial&#8211;Clinical Data Matching </a> </td>
																		<td> <a href="../elements/id-6145937b55794d4c9abadd02d31ef137.html" target="element"> Map Clinical &amp; Financial Codes </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-31f1b30ff89e4eba96f0c4fb764d6f2a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-31f1b30ff89e4eba96f0c4fb764d6f2a.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ef16f11d7e48429f905369b63dfc33aa.html" target="element"> Financial&#8211;Clinical Data Matching </a> </td>
																		<td> <a href="../elements/id-abdb5f5d26664a63bc00b13e35adc312.html" target="element"> Match Payment to Service Record </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-a35675b13a414ec88384826855b69561.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a35675b13a414ec88384826855b69561.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-42235973c41c404bb12ab719d06320dd.html" target="element"> Financial Safeguards &amp; Risk Management </a> </td>
																		<td> <a href="../elements/id-073caf12eef64ec4911cbcd7a6ff765b.html" target="element"> Operational Efficiency &amp; Process Optimization </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-81cfaa5ae61541b78ba66f9c9d3dbfcd.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-81cfaa5ae61541b78ba66f9c9d3dbfcd.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e39b3f56ea5a432ca37ea81b1f22cbe1.html" target="element"> Claims Adjudication Management </a> </td>
																		<td> <a href="../elements/id-4e751104e0bd41a0bcf42dcd2ed62aac.html" target="element"> Validate Claim </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-cbe0da3e0ed94289b08c04f55a91cc59.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cbe0da3e0ed94289b08c04f55a91cc59.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e39b3f56ea5a432ca37ea81b1f22cbe1.html" target="element"> Claims Adjudication Management </a> </td>
																		<td> <a href="../elements/id-f917b8f7b57544cc8e2a16b643fd3491.html" target="element"> Adjudicate Claim </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-6618b0cf4beb4e7fa5933f2e887224f0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6618b0cf4beb4e7fa5933f2e887224f0.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e39b3f56ea5a432ca37ea81b1f22cbe1.html" target="element"> Claims Adjudication Management </a> </td>
																		<td> <a href="../elements/id-b7920194a9c2477984096758eba9ce56.html" target="element"> Disburse Payment </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-07dcac57f25a40999e7670aabc656337.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-07dcac57f25a40999e7670aabc656337.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e39b3f56ea5a432ca37ea81b1f22cbe1.html" target="element"> Claims Adjudication Management </a> </td>
																		<td> <a href="../elements/id-99f0bf62371a4ae9a780fe1619fc7c23.html" target="element"> Generate Provider Statement </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-ab4a238759e04dd1b03068070fd5526a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ab4a238759e04dd1b03068070fd5526a.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4abe42a3971f443cb9b6e4d790f53435.html" target="element"> Identity &amp; Access Management </a> </td>
																		<td> <a href="../elements/id-b2b0c34376db47e5bb95cf778c6c6060.html" target="element"> Authorize Transaction </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-7972312585fa47e7a19a98e102105fce.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7972312585fa47e7a19a98e102105fce.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4abe42a3971f443cb9b6e4d790f53435.html" target="element"> Identity &amp; Access Management </a> </td>
																		<td> <a href="../elements/id-d2debcd3f1214045ba02ea1fd12422bf.html" target="element"> Digitally Sign Financial Event </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-026a01565f9144688218257ff006c7d7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-026a01565f9144688218257ff006c7d7.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4abe42a3971f443cb9b6e4d790f53435.html" target="element"> Identity &amp; Access Management </a> </td>
																		<td> <a href="../elements/id-8be12407955b4aff93332b08abad3cd3.html" target="element"> Authenticate User </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-b6b9fdd3bd80470a95f91acdd9e096f0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b6b9fdd3bd80470a95f91acdd9e096f0.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-85caaee5dcac48c387fce44b71296046.html" target="element"> Workflow &amp; Process Orchestration </a> </td>
																		<td> <a href="../elements/id-6b9bdb147b9b43119367921d26c22f01.html" target="element"> Orchestrate Workflow </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-3bec706e03a54bcb8c1bed891ecbebe3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3bec706e03a54bcb8c1bed891ecbebe3.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-85caaee5dcac48c387fce44b71296046.html" target="element"> Workflow &amp; Process Orchestration </a> </td>
																		<td> <a href="../elements/id-8133ce53b9374c08afdf73cb8c688cdb.html" target="element"> Route Task Queue </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-40937210327c421cb19702f76a87d0c0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-40937210327c421cb19702f76a87d0c0.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-85caaee5dcac48c387fce44b71296046.html" target="element"> Workflow &amp; Process Orchestration </a> </td>
																		<td> <a href="../elements/id-a6c76e056e504be6a74b3ea07745d2f0.html" target="element"> Execute Automated Task (RPA) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-79660bfc59644904b55f40db3a4cceef.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-79660bfc59644904b55f40db3a4cceef.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-85caaee5dcac48c387fce44b71296046.html" target="element"> Workflow &amp; Process Orchestration </a> </td>
																		<td> <a href="../elements/id-c9fe4a7f8e95434589ba8a3675613ba9.html" target="element"> Notify Stakeholders </a> </td>
																	</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>