<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Business Process to Capability Mapping</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.4.1.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Business Process to Capability Mapping</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-8b42608b8ca146e8831f0a39e08f557b.png" alt="Business Process to Capability Mapping" usemap="#id-8b42608b8ca146e8831f0a39e08f557bmap"/>
			   <map name="id-8b42608b8ca146e8831f0a39e08f557bmap">
				  		<area shape="rect" coords="931,514,1105,569" href="../elements/id-5823dcea4aaa4313ad2be1f6f1f0795b.html"  target="element">
				  		<area shape="rect" coords="931,448,1105,503" href="../elements/id-624cf45ba73045c597e5b68bc592397f.html"  target="element">
				  				<area shape="rect" coords="928,358,1102,413" href="../elements/id-2e3dc7a3d19b4f1cb46e1706b31f9388.html"  target="element">
				  				<area shape="rect" coords="928,298,1102,353" href="../elements/id-978f60ed11864dfc867489bd0cdc6dc0.html"  target="element">
				  				<area shape="rect" coords="928,238,1102,293" href="../elements/id-9e70e52ac86347fbaba5882ff33825c6.html"  target="element">

				  		<area shape="rect" coords="916,190,1120,431" href="../elements/id-4454097cd66345bea262b94d4882b109.html"  target="element">
				  		<area shape="rect" coords="27,502,201,557" href="../elements/id-8fbe71c5f5da4319be4b702d0976ddd9.html"  target="element">
				  		<area shape="rect" coords="921,66,1114,143" href="../elements/id-ed96f6b41afd408184afd86034b10cc5.html"  target="element">
				  				<area shape="rect" coords="705,358,879,413" href="../elements/id-a40dc8d8cdb748faaa326a0860c17b18.html"  target="element">
				  				<area shape="rect" coords="705,298,879,353" href="../elements/id-d6e3f27ea021467d8d068b391fda4334.html"  target="element">
				  				<area shape="rect" coords="705,238,879,293" href="../elements/id-91afeb4a0c024cbf9daf44961779e843.html"  target="element">

				  		<area shape="rect" coords="693,190,897,431" href="../elements/id-081ba2c346bc4ac0b34e12617116ca0a.html"  target="element">
				  				<area shape="rect" coords="483,346,657,395" href="../elements/id-155cfc6da78740f0a0bda7f078926c06.html"  target="element">
				  				<area shape="rect" coords="483,298,657,335" href="../elements/id-65259d2a3aa445baae15a89951e6cf45.html"  target="element">
				  				<area shape="rect" coords="483,238,657,287" href="../elements/id-5c703097fa2b4fafaebfe625f7137372.html"  target="element">

				  		<area shape="rect" coords="469,190,679,412" href="../elements/id-e917792e91d6401487c07596a28d8eaa.html"  target="element">
				  				<area shape="rect" coords="26,418,197,467" href="../elements/id-37c30aaf9f5f4ed78e70aebcafe33f79.html"  target="element">
				  				<area shape="rect" coords="26,358,197,407" href="../elements/id-0dc40960b1974d628bf35c118be96d34.html"  target="element">
				  				<area shape="rect" coords="26,286,197,347" href="../elements/id-b9e8b31f5d9d432fa79bac0e63c1bed4.html"  target="element">
				  				<area shape="rect" coords="26,226,197,275" href="../elements/id-5c749fa855de472086e763f2af457244.html"  target="element">

				  		<area shape="rect" coords="11,190,216,479" href="../elements/id-152b05b625194adf97adf3863bfa68af.html"  target="element">
				  		<area shape="rect" coords="487,430,661,485" href="../elements/id-5eb7dd33819347e788182f565b7cd040.html"  target="element">
				  				<area shape="rect" coords="253,507,435,544" href="../elements/id-d4a8fb394bbd4f3ebf6afb3af310cb41.html"  target="element">

				  		<area shape="rect" coords="241,471,447,562" href="../elements/id-b82c3fcc2c64431e91954eb98506b2fd.html"  target="element">
				  				<area shape="rect" coords="253,394,435,431" href="../elements/id-390066c5292d43188082186517e6114e.html"  target="element">
				  				<area shape="rect" coords="253,286,435,311" href="../elements/id-7c8975808af342e88ebc358fdff728c4.html"  target="element">
				  				<area shape="rect" coords="253,322,435,383" href="../elements/id-1f84f8001b044792bba3136b52a21208.html"  target="element">
				  				<area shape="rect" coords="253,238,434,275" href="../elements/id-71134d5b5d9d41b18dfb0d6036c80029.html"  target="element">

				  		<area shape="rect" coords="241,190,447,443" href="../elements/id-ac57b41bd4b14e10b21d15da76915d48.html"  target="element">
				  		<area shape="rect" coords="693,66,887,143" href="../elements/id-20dbcbe1c86a4bfb81c58aa6b5c676bf.html"  target="element">
				  		<area shape="rect" coords="469,66,663,143" href="../elements/id-a87a8b0e8387443393ea5b87c39971aa.html"  target="element">
				  		<area shape="rect" coords="241,66,435,143" href="../elements/id-e988d4d01b004d10b9af4bc234039272.html"  target="element">
				          <area shape="rect" coords="10,10,435,47" href="../objects/id-9cfbd55d88434ff598902d1a5c9cf37d.html" target="element" >
				  		<area shape="rect" coords="17,66,211,143" href="../elements/id-da7a3d4681b24ebc866989dd95a03b08.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

                    <!-- Analysis -->

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
					<div role="tabpanel" class="tab-pane" id="analysis">
						<table class="table table-striped table-hover table-condensed" id="used-in-views">
							<thead>
								<tr><th colspan="2" class="i18n-used-in-views" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-viewpoint"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
						<table class="table table-striped table-hover table-condensed" id="model-relations">
							<thead>
								<tr><th colspan="4" class="i18n-model-relations" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-type"></th>
									<th class="i18n-source"></th>
									<th class="i18n-target"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-da7a3d4681b24ebc866989dd95a03b08.html" target="element"> Personal Health Records Creation </a> </td>
											    <td> <a href="../elements/id-da7a3d4681b24ebc866989dd95a03b08.html" target="element" class="i18n-elementtype-ValueStream">
											    </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-9cfbd55d88434ff598902d1a5c9cf37d.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-9cfbd55d88434ff598902d1a5c9cf37d.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-e988d4d01b004d10b9af4bc234039272.html" target="element"> Health Record Management &amp; Maintenance </a> </td>
											    <td> <a href="../elements/id-e988d4d01b004d10b9af4bc234039272.html" target="element" class="i18n-elementtype-ValueStream">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a87a8b0e8387443393ea5b87c39971aa.html" target="element"> Personal Health Records Access and Sharing </a> </td>
											    <td> <a href="../elements/id-a87a8b0e8387443393ea5b87c39971aa.html" target="element" class="i18n-elementtype-ValueStream">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-20dbcbe1c86a4bfb81c58aa6b5c676bf.html" target="element"> Personal Health Records Archiving and Disposal </a> </td>
											    <td> <a href="../elements/id-20dbcbe1c86a4bfb81c58aa6b5c676bf.html" target="element" class="i18n-elementtype-ValueStream">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ac57b41bd4b14e10b21d15da76915d48.html" target="element"> Health Data Validation and Quality Assurance </a> </td>
											    <td> <a href="../elements/id-ac57b41bd4b14e10b21d15da76915d48.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-71134d5b5d9d41b18dfb0d6036c80029.html" target="element"> Validate accuracy of new health data entries </a> </td>
													    <td> <a href="../elements/id-71134d5b5d9d41b18dfb0d6036c80029.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-1f84f8001b044792bba3136b52a21208.html" target="element"> Update patient records with continuous health interventions </a> </td>
													    <td> <a href="../elements/id-1f84f8001b044792bba3136b52a21208.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-7c8975808af342e88ebc358fdff728c4.html" target="element"> Perform data integrity checks </a> </td>
													    <td> <a href="../elements/id-7c8975808af342e88ebc358fdff728c4.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-390066c5292d43188082186517e6114e.html" target="element"> Manage corrections and amendments in records </a> </td>
													    <td> <a href="../elements/id-390066c5292d43188082186517e6114e.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-b82c3fcc2c64431e91954eb98506b2fd.html" target="element"> Record Versioning &amp; Integrity Control </a> </td>
											    <td> <a href="../elements/id-b82c3fcc2c64431e91954eb98506b2fd.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-d4a8fb394bbd4f3ebf6afb3af310cb41.html" target="element"> Merge / De-duplicate Patient Record </a> </td>
													    <td> <a href="../elements/id-d4a8fb394bbd4f3ebf6afb3af310cb41.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-5eb7dd33819347e788182f565b7cd040.html" target="element"> Health Information Exchange </a> </td>
											    <td> <a href="../elements/id-5eb7dd33819347e788182f565b7cd040.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-152b05b625194adf97adf3863bfa68af.html" target="element"> Patient Data Collection </a> </td>
											    <td> <a href="../elements/id-152b05b625194adf97adf3863bfa68af.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-5c749fa855de472086e763f2af457244.html" target="element"> Verify patient identity and eligibility </a> </td>
													    <td> <a href="../elements/id-5c749fa855de472086e763f2af457244.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-b9e8b31f5d9d432fa79bac0e63c1bed4.html" target="element"> Collect patient demographic and health information </a> </td>
													    <td> <a href="../elements/id-b9e8b31f5d9d432fa79bac0e63c1bed4.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-0dc40960b1974d628bf35c118be96d34.html" target="element"> Capture and digitize physical health records </a> </td>
													    <td> <a href="../elements/id-0dc40960b1974d628bf35c118be96d34.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-37c30aaf9f5f4ed78e70aebcafe33f79.html" target="element"> Input patient consent and privacy preferences </a> </td>
													    <td> <a href="../elements/id-37c30aaf9f5f4ed78e70aebcafe33f79.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-e917792e91d6401487c07596a28d8eaa.html" target="element"> Access Control and Privacy Management </a> </td>
											    <td> <a href="../elements/id-e917792e91d6401487c07596a28d8eaa.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-5c703097fa2b4fafaebfe625f7137372.html" target="element"> Manage patient consent for data sharing </a> </td>
													    <td> <a href="../elements/id-5c703097fa2b4fafaebfe625f7137372.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-65259d2a3aa445baae15a89951e6cf45.html" target="element"> Authorize access based on role and purpose </a> </td>
													    <td> <a href="../elements/id-65259d2a3aa445baae15a89951e6cf45.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-155cfc6da78740f0a0bda7f078926c06.html" target="element"> Monitor data access and usage </a> </td>
													    <td> <a href="../elements/id-155cfc6da78740f0a0bda7f078926c06.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-081ba2c346bc4ac0b34e12617116ca0a.html" target="element"> Records Retention Management </a> </td>
											    <td> <a href="../elements/id-081ba2c346bc4ac0b34e12617116ca0a.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-91afeb4a0c024cbf9daf44961779e843.html" target="element"> Define retention periods for health records </a> </td>
													    <td> <a href="../elements/id-91afeb4a0c024cbf9daf44961779e843.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-d6e3f27ea021467d8d068b391fda4334.html" target="element"> Archive inactive or legacy records securely </a> </td>
													    <td> <a href="../elements/id-d6e3f27ea021467d8d068b391fda4334.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-a40dc8d8cdb748faaa326a0860c17b18.html" target="element"> Ensure compliance with regulatory requirements </a> </td>
													    <td> <a href="../elements/id-a40dc8d8cdb748faaa326a0860c17b18.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-ed96f6b41afd408184afd86034b10cc5.html" target="element"> Security &amp; Compliance </a> </td>
											    <td> <a href="../elements/id-ed96f6b41afd408184afd86034b10cc5.html" target="element" class="i18n-elementtype-ValueStream">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-8fbe71c5f5da4319be4b702d0976ddd9.html" target="element"> Trust &amp; Credential Governance </a> </td>
											    <td> <a href="../elements/id-8fbe71c5f5da4319be4b702d0976ddd9.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4454097cd66345bea262b94d4882b109.html" target="element"> Data Protection &amp; Encryption Governance </a> </td>
											    <td> <a href="../elements/id-4454097cd66345bea262b94d4882b109.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-9e70e52ac86347fbaba5882ff33825c6.html" target="element"> Encrypt Data at Rest </a> </td>
													    <td> <a href="../elements/id-9e70e52ac86347fbaba5882ff33825c6.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-978f60ed11864dfc867489bd0cdc6dc0.html" target="element"> Encrypt Data in Transit </a> </td>
													    <td> <a href="../elements/id-978f60ed11864dfc867489bd0cdc6dc0.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-2e3dc7a3d19b4f1cb46e1706b31f9388.html" target="element"> Monitor Security Events </a> </td>
													    <td> <a href="../elements/id-2e3dc7a3d19b4f1cb46e1706b31f9388.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-624cf45ba73045c597e5b68bc592397f.html" target="element"> Digital Signature &amp; Verification Management </a> </td>
											    <td> <a href="../elements/id-624cf45ba73045c597e5b68bc592397f.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-5823dcea4aaa4313ad2be1f6f1f0795b.html" target="element"> Audit &amp; Compliance Monitoring </a> </td>
											    <td> <a href="../elements/id-5823dcea4aaa4313ad2be1f6f1f0795b.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-c23906c5efd8407fa545a1846e3cef3b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c23906c5efd8407fa545a1846e3cef3b.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-da7a3d4681b24ebc866989dd95a03b08.html" target="element"> Personal Health Records Creation </a> </td>
																		<td> <a href="../elements/id-e988d4d01b004d10b9af4bc234039272.html" target="element"> Health Record Management &amp; Maintenance </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-7bfe1afcc5ac44c2a90c6b0591b9a4f9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7bfe1afcc5ac44c2a90c6b0591b9a4f9.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-da7a3d4681b24ebc866989dd95a03b08.html" target="element"> Personal Health Records Creation </a> </td>
																		<td> <a href="../elements/id-152b05b625194adf97adf3863bfa68af.html" target="element"> Patient Data Collection </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/id-2fc886b388184133b69b9b02d37e8e71.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2fc886b388184133b69b9b02d37e8e71.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e988d4d01b004d10b9af4bc234039272.html" target="element"> Health Record Management &amp; Maintenance </a> </td>
																		<td> <a href="../elements/id-a87a8b0e8387443393ea5b87c39971aa.html" target="element"> Personal Health Records Access and Sharing </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-dd263075ed5d4b39b13c8178928fc229.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-dd263075ed5d4b39b13c8178928fc229.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e988d4d01b004d10b9af4bc234039272.html" target="element"> Health Record Management &amp; Maintenance </a> </td>
																		<td> <a href="../elements/id-ac57b41bd4b14e10b21d15da76915d48.html" target="element"> Health Data Validation and Quality Assurance </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-281a48d86f0e4d028b8abdfb1c2b29ab.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-281a48d86f0e4d028b8abdfb1c2b29ab.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a87a8b0e8387443393ea5b87c39971aa.html" target="element"> Personal Health Records Access and Sharing </a> </td>
																		<td> <a href="../elements/id-20dbcbe1c86a4bfb81c58aa6b5c676bf.html" target="element"> Personal Health Records Archiving and Disposal </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c91f5e31f26b491ea8ca8b8708f895ba.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c91f5e31f26b491ea8ca8b8708f895ba.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a87a8b0e8387443393ea5b87c39971aa.html" target="element"> Personal Health Records Access and Sharing </a> </td>
																		<td> <a href="../elements/id-e917792e91d6401487c07596a28d8eaa.html" target="element"> Access Control and Privacy Management </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-31dc5edb57fe4274bf3fd46c3b19464c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-31dc5edb57fe4274bf3fd46c3b19464c.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-20dbcbe1c86a4bfb81c58aa6b5c676bf.html" target="element"> Personal Health Records Archiving and Disposal </a> </td>
																		<td> <a href="../elements/id-ed96f6b41afd408184afd86034b10cc5.html" target="element"> Security &amp; Compliance </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b3c40518039f461dbf81afa88b0edfc6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b3c40518039f461dbf81afa88b0edfc6.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-20dbcbe1c86a4bfb81c58aa6b5c676bf.html" target="element"> Personal Health Records Archiving and Disposal </a> </td>
																		<td> <a href="../elements/id-081ba2c346bc4ac0b34e12617116ca0a.html" target="element"> Records Retention Management </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-d25f731659974314a148e1f35ea9ef7d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d25f731659974314a148e1f35ea9ef7d.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ac57b41bd4b14e10b21d15da76915d48.html" target="element"> Health Data Validation and Quality Assurance </a> </td>
																		<td> <a href="../elements/id-b82c3fcc2c64431e91954eb98506b2fd.html" target="element"> Record Versioning &amp; Integrity Control </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-9a33340541f04dbd8dc011669b408734.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9a33340541f04dbd8dc011669b408734.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ac57b41bd4b14e10b21d15da76915d48.html" target="element"> Health Data Validation and Quality Assurance </a> </td>
																		<td> <a href="../elements/id-1f84f8001b044792bba3136b52a21208.html" target="element"> Update patient records with continuous health interventions </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ea8e00a3d417431a8b8e9cbd07f1742c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ea8e00a3d417431a8b8e9cbd07f1742c.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ac57b41bd4b14e10b21d15da76915d48.html" target="element"> Health Data Validation and Quality Assurance </a> </td>
																		<td> <a href="../elements/id-71134d5b5d9d41b18dfb0d6036c80029.html" target="element"> Validate accuracy of new health data entries </a> </td>
																	</tr>

											
											
																	<tr>
																		<td> <a href="../elements/id-290dfda3e1a44ec5a3bcacf7bb53ca73.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-290dfda3e1a44ec5a3bcacf7bb53ca73.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-152b05b625194adf97adf3863bfa68af.html" target="element"> Patient Data Collection </a> </td>
																		<td> <a href="../elements/id-8fbe71c5f5da4319be4b702d0976ddd9.html" target="element"> Trust &amp; Credential Governance </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-2ff8affc08e94553ae4700bda65acee6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2ff8affc08e94553ae4700bda65acee6.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-152b05b625194adf97adf3863bfa68af.html" target="element"> Patient Data Collection </a> </td>
																		<td> <a href="../elements/id-5c749fa855de472086e763f2af457244.html" target="element"> Verify patient identity and eligibility </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-f62fe29add87406db4e116aca95529c9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f62fe29add87406db4e116aca95529c9.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e917792e91d6401487c07596a28d8eaa.html" target="element"> Access Control and Privacy Management </a> </td>
																		<td> <a href="../elements/id-5c703097fa2b4fafaebfe625f7137372.html" target="element"> Manage patient consent for data sharing </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-6b22df872fb94ca6b75b3862dd35a383.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6b22df872fb94ca6b75b3862dd35a383.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e917792e91d6401487c07596a28d8eaa.html" target="element"> Access Control and Privacy Management </a> </td>
																		<td> <a href="../elements/id-65259d2a3aa445baae15a89951e6cf45.html" target="element"> Authorize access based on role and purpose </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-290b4662958448c09cf29eb30dd6aee2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-290b4662958448c09cf29eb30dd6aee2.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e917792e91d6401487c07596a28d8eaa.html" target="element"> Access Control and Privacy Management </a> </td>
																		<td> <a href="../elements/id-155cfc6da78740f0a0bda7f078926c06.html" target="element"> Monitor data access and usage </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-4f3b0092bd0e49df922d189ebde6ef4c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4f3b0092bd0e49df922d189ebde6ef4c.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e917792e91d6401487c07596a28d8eaa.html" target="element"> Access Control and Privacy Management </a> </td>
																		<td> <a href="../elements/id-5eb7dd33819347e788182f565b7cd040.html" target="element"> Health Information Exchange </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-17eba15e001149bea78d66644fa6ff1e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-17eba15e001149bea78d66644fa6ff1e.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-081ba2c346bc4ac0b34e12617116ca0a.html" target="element"> Records Retention Management </a> </td>
																		<td> <a href="../elements/id-91afeb4a0c024cbf9daf44961779e843.html" target="element"> Define retention periods for health records </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-228dd260d0024cc4894ebaa62a0ef8d8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-228dd260d0024cc4894ebaa62a0ef8d8.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-081ba2c346bc4ac0b34e12617116ca0a.html" target="element"> Records Retention Management </a> </td>
																		<td> <a href="../elements/id-d6e3f27ea021467d8d068b391fda4334.html" target="element"> Archive inactive or legacy records securely </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-5a97d26730ab421ca469db9327e5cf38.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5a97d26730ab421ca469db9327e5cf38.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-081ba2c346bc4ac0b34e12617116ca0a.html" target="element"> Records Retention Management </a> </td>
																		<td> <a href="../elements/id-a40dc8d8cdb748faaa326a0860c17b18.html" target="element"> Ensure compliance with regulatory requirements </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-afddefc59b194bf29b98d584833556b5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-afddefc59b194bf29b98d584833556b5.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ed96f6b41afd408184afd86034b10cc5.html" target="element"> Security &amp; Compliance </a> </td>
																		<td> <a href="../elements/id-4454097cd66345bea262b94d4882b109.html" target="element"> Data Protection &amp; Encryption Governance </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-8819c346b79040a28ff577d1663bea2d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8819c346b79040a28ff577d1663bea2d.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4454097cd66345bea262b94d4882b109.html" target="element"> Data Protection &amp; Encryption Governance </a> </td>
																		<td> <a href="../elements/id-9e70e52ac86347fbaba5882ff33825c6.html" target="element"> Encrypt Data at Rest </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-16ea229ade0048f091c4eda4bcdc8dd2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-16ea229ade0048f091c4eda4bcdc8dd2.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4454097cd66345bea262b94d4882b109.html" target="element"> Data Protection &amp; Encryption Governance </a> </td>
																		<td> <a href="../elements/id-978f60ed11864dfc867489bd0cdc6dc0.html" target="element"> Encrypt Data in Transit </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-71aed2a050c840f0b583ec7d403be6c4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-71aed2a050c840f0b583ec7d403be6c4.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4454097cd66345bea262b94d4882b109.html" target="element"> Data Protection &amp; Encryption Governance </a> </td>
																		<td> <a href="../elements/id-624cf45ba73045c597e5b68bc592397f.html" target="element"> Digital Signature &amp; Verification Management </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e76f07ec882f42f0ada08bd7271ce967.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e76f07ec882f42f0ada08bd7271ce967.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4454097cd66345bea262b94d4882b109.html" target="element"> Data Protection &amp; Encryption Governance </a> </td>
																		<td> <a href="../elements/id-2e3dc7a3d19b4f1cb46e1706b31f9388.html" target="element"> Monitor Security Events </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-333eb3501cfd43d49d62b3865e423265.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-333eb3501cfd43d49d62b3865e423265.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-624cf45ba73045c597e5b68bc592397f.html" target="element"> Digital Signature &amp; Verification Management </a> </td>
																		<td> <a href="../elements/id-5823dcea4aaa4313ad2be1f6f1f0795b.html" target="element"> Audit &amp; Compliance Monitoring </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>